<template name="bubbleItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{bubblePagePath this}}">{{title}}</a><span>{{getCategory}}</span></h3>
      <p>
        {{description}}
        {{#if isAdmin}}
          <a href="{{bubbleEditPath this}}">Edit Bubble |</a>
	  			<a href="{{bubbleMembersPagePath this}}">Member Page</a>
        {{/if}}
      </p>
    </div>
    {{#if isAdmin}}
      <div style="width: 100px;" class="pull-right">
        <p style="line-height: 10px;">Admin</p>
        <h4 style="line-height: 16px; text-transform: uppercase;">{{isAdmin}}</h4>
      </div>
    {{/if}}
  </div>
</template>

