<template name="exploreSectionSelector">
  <div class="bubble-section-selector category-{{category}}-border-top-4 category-{{category}}-bg-opacity-60">
    <div class="opacity-wrapper">
      <a href="{{bubblePagePath this}}"><button class="btn-bubble-section category-{{category}}-fill">{{> icon-home}}</button></a>
      <a href="{{bubbleEventPagePath this}}"><button class="btn-bubble-section category-{{category}}-bg-opacity-100">{{> icon-event}}</button></a>
      <a href="{{bubbleDiscussionPagePath this}}"><button class="btn-bubble-section category-{{category}}-bg-opacity-90">{{> icon-discussion}}</button></a>
      <a href="{{bubbleFilePagePath this}}"><button class="btn-bubble-section category-{{category}}-bg-opacity-80">{{> icon-file}}</button></a>
      <a href="{{bubbleMembersPagePath this}}"><button class="btn-bubble-section category-{{category}}-bg-opacity-70">{{> icon-member}}</button></a>
    </div>
  </div>
</template>
