<template name="siteAccessDenied">
  <div class="bubble-page-content bubble-page-content-search">
    <div class="bubble-list member-heading">
      <div class="bubble-list-heading">
        <h3 class="section-name pull-left">
          <span>access denied</span>
        </h3>
      </div>
    </div>
    <div class="profile-content about-content">
      We're sorry. The Emory Bubble currently only allows access to individuals with an "@emory.edu" email address. We cannot currently allow membership to those with "@emoryhealthcare.org" email addresses. If you believe you are seeing this message in error, please visit our <a href="http://support.emorybubble.com/" target="_blank">support</a> page.
    </div>
  </div>
</template>
