extends ../../../layouts/default

block main
  div(class=['page_#{bubble_section}s'])
    include ../../widgets/button_connect_bubble_member
    include ../../widgets/button_connect_bubble_fan
  div.page_content
    ul#post_list.post_list.list_view

  section.hidden#list_pagelet_url= list_pagelet_url
