<template name="filePreview">
    {{#if isPDF}}
        <div class="pdf-icon"><a href="{{this.file}}" download="{{this.name}}">{{this.name}}</a></div>
    {{else}}
	    {{#if isImage}}
	        <a href="{{this.file}}"><img src="{{file}}" class="previewthumb" title="{{this.name}}" download="{{this.name}}"></a>
	    {{else}}
		    {{#if isDoc}}
			    <div class="word-icon"><a href="{{this.file}}" download="{{this.name}}>{{this.name}}"</a></div>
			{{else}}
				<div><a href="{{this.file}}" download="{{this.name}}">{{this.name}}</a></div>
			{{/if}}
		{{/if}}
    {{/if}}
</template>
