li.bubble_widget
  a(href='/bubbles/'+bubble._id)
    section.section_inner
      include subscribe
      div.bubble_name_container
        div.bubble_name_container_inner
          h1.bubble_name= bubble.name
