extends ../layouts/default

block main
  - if (typeof(bubble.creator) != 'undefined' && bubble.creator.equals(req.user._id) )   // Shows form if current user created this bubble
    div(class=['page_content', 'page_#{bubble_section}'])
      include ../includes/new_post
  ul.post_list
    each event in bubble.events
      include ../includes/post_widget
