extends ../layouts/default

block main
  ul.post_list
    each event in bubble.events
      li.post_widget
        a(href='/events/'+event._id)
          section.post_widget_section.post_widget_left
            p= event.start_time
          section.post_widget_section.post_widget_main
            section.post_main_info
              h4.post_name= event.name
              section.subtitle.descriptor
                div.comments_icon
                div.gray_text.comments_text # comments
                div.attending_icon
                div.red_text= event.attending_count
          section.post_widget_section.post_widget_right
            section.venue_widget
              div.pic_venue_container
                - if (typeof(event.venue) != 'undefined')
                  img.pic_venue(src='http://graph.facebook.com/'+event.venue.id+'/picture?type=square')
                - else
                  img.pic_venue(src='../img/default_square.png')
              section.venue_info
                div.venue_name= event.location
