extends ../layouts/default

block main
  ul.subscription_list
    each bubble in bubbles
      li.bubble_widget
        a(href='/bubbles/'+bubble._id)
          section.section_inner
            div.bubble_name_container
              div.bubble_name_container_inner
                h1.bubble_name= bubble.name
