<template name="updatesDropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Updates
    {{#if updateCount}}
      <span class="badge badge-inverse">{{updateCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="update dropdown-menu">
    {{#if compressUpdates}}
      {{#each compressUpdates}}
        {{> update}}
      {{/each}}
    {{else}}
      <li><span>No Updates</span></li>
    {{/if}}
  </ul>
</template>

<template name="update">
  <li>
    {{#if updateTypeIs 'newPost'}}
      <a href="{{postPagePath postId}}">
        {{content}}
      </a>
    {{/if}}
    {{#if updateTypeIs 'newComment'}}
      <a href="{{postPagePath postId}}">
        {{content}}
      </a>
    {{/if}}
    {{#if updateTypeIs 'newMember'}}
      <a href="{{postPagePath postId}}">
        {{content}}
      </a>
    {{/if}}
  </li>
</template>

