<template name="updatesDropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Updates
    {{#if compressedCount}}
      <span class="badge badge-inverse">{{compressedCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="update dropdown-menu">
    {{#if compressUpdates}}
      {{#each compressUpdates}}
        {{> update}}
      {{/each}}
    {{else}}
      <li><span>No Updates</span></li>
    {{/if}}
  </ul>
</template>

<template name="update">
  <li>

    <a href="{{postPagePath postId}}">
      {{content}}
    </a>

  </li>
</template>

