<template name="updatesDropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Updates
    {{#if compressedCount}}
      <span class="badge badge-inverse">{{compressedCount}}</span>
    {{/if}}
    {{> icon-arrow-down}}
  </a>
  <ul class="update dropdown-menu">
    {{#if compressUpdates}}
      {{#each compressUpdates}}
        {{>updateBubble}}
      {{/each}}
    {{else}}
      <li><span>No Updates</span></li>
    {{/if}}
  </ul>
</template>

<template name="update">
  <li>

    <a href="{{url}}">
      {{getContent}}
    </a>

  </li>
</template>

<template name="updateBubble">
  <li>    
    <a href="{{bubblePagePath bubbleId}}">
      {{getBubbleName bubbleId}}
    </a>
    {{#each this}}
      {{>update}}
    {{/each}}
  </li>
</template>

