<template name="updates">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Updates
    {{#if updateCount}}
      <span class="badge badge-inverse">{{updateCount}}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="update dropdown-menu">
    {{#if updateCount}}
      {{#each updates}}
        {{> update}}
      {{/each}}
    {{else}}
      <li><span>No Updates</span></li>
    {{/if}}
  </ul>
</template>

<template name="update">
  <li>
    <a href="{{postPagePath postId}}">
      <strong>{{invokerName}}</strong> {{content}}
    </a>
  </li>
</template>

