<template name="formElementsBubble">
  <div class="visible-{{hasLevel2Permissions}} select-bubble-type">
    <input type="hidden" name="bubbleType" value="normal"/>
    <label class="first no-typing select-bubble-type-label">Bubble Type*</label>
    <button class="pull-left btn-bubble-type std-btn-form super">super bubble</button>
    <button class="active-true pull-left btn-bubble-type std-btn-form normal">normal bubble</button>
  </div>

  <div class="cb-form-row first">
    <input class="required width-full" name="title" type="text" value="{{systemBubble.selectedBubble.title}}" placeholder="Name*"/>
  </div>

  <div class="cb-form-row">
    <div class="bubble-category">
      <label class="no-typing">Category*</label>
      <input name="category" type="hidden" value="{{systemBubble.selectedBubble.category}}"/>
      <ul class="nav nav-tabs large-boxes">
        {{#each systemCategory.categories}}
          <li class="categoryBox" name="{{nameShort}}">
            <a>
              <div class="large-box-title category-{{nameShort}}-bg">
                <div class="v-middle">
                  <div class="v-inner">
                    <div class="lbl-large-box">{{nameLong}}</div>
                  </div>
                </div>
              </div>
              <div class="large-box-info">
                <div class="body">{{body}}</div>
                <div class="cb-icon-check">{{> icon-check}}</div>
              </div>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>

  {{> wysiwyg2}}
</template>


<template name="formElementsBubbleCreate">
  {{#with systemForm.formParams.bubble.create}}
    {{> formElementsBubble}}
  {{/with}}
</template>


<template name="formElementsBubbleEdit">
  {{#with systemForm.formParams.bubble.edit}}
    {{> formElementsBubble}}
  {{/with}}
</template>
