<template name="createUser">
	<div style="margin-left: 20px">
		<br /><br />
		<h4>Create User: </h4>
		<form>
			<b>Full Name: </b><br />
			<input type="text" id="full-name" placeholder="eg: George Burdell" /><br />
			<b>Username/NETID: </b><br />
			<input type="text" id="username" placeholder="eg: GBURDE3" /><br />
			<b>Password: </b><br />
			<input type="password" id="pass1" /><br />
			<b>Retype Password: </b><br />
			<input type="password" id="pass2" /><br />
			<b>Email Address: </b><br />
			<input type="text" id="username" placeholder="Optional" /><br />
			<button type="submit" value="submit" name="submit" class="std-btn-xdark create-user-submit">Create User</button>
		</form>
		<ul class="new-users">
		</ul>
	</div>
</template>