li
  a(href="/bubbles/#{bubble._id}/event")
    div.sidebar_button_icon.icon_events
    h2.sidebar_button_label events
    div.sidebar_counter.sidebar_counter_events
      h2= bubble.num_connections.num_posts.num_events
    div.icon_sidebar_select
