<template name="about">
  <div class="bubble-page-content bubble-page-content-search">
    <div class="bubble-list member-heading">
      <div class="bubble-list-heading">
        <h3 class="section-name pull-left">
          <span>about</span>
        </h3>
      </div>
    </div>
    <div class="profile-content about-content">
      <div>
        <a href="http://thecampusbubble.com" target="_blank">Campus Bubble, LLC</a> is an Atlanta-based company founded by five proud Emory alumni. We created and maintain the Emory Bubble platform. We built it using the <a href="http://thecampusbubble.com" target="_blank">Meteor</a> web app framework.
      </div>
      <a href="/pdf/privacyPolicy.pdf">
        <button class="pull-left post-action">privacy policy</button>
      </a>
      <a href="/pdf/termsOfUse.pdf">
      <button class="pull-left post-action">terms of use</button>
      </a>
    </div>
  </div>
</template>
