<template name="bubblePage">
  {{#with getCurrentBubble}}
    {{#if belongsToBubble}}
      {{> bubbleSectionSelector}}
      <div class="bubble-list">
        <div class="bubble-list-heading">
          bubble updates
          <a href="">
            <button class="std-btn-light pull-right">see all</button>
          </a>
        </div>
        {{>updatesList}}
      </div>

      <div class="bubble-list">
        <div class="bubble-list-heading">
          upcoming events
          <a href="{{eventSubmitPath this}}">
            <button class="std-btn-light pull-right">add new event</button>
          </a>
        </div>
        {{#if eventPosts}}
          {{#each eventPosts}}
            {{> postItem}}
          {{/each}}
          {{#if hasMoreEvents}}
            <a href="{{bubbleEventPagePath this}}">
              <button class="btn btn-small btn-success more-events">+{{eventsCount}} more events</button>
            </a>
            {{/if}}
          {{else}}
            <br><br>There are no events yet. Start an event now!
        {{/if}}
      </div>

      <div class="bubble-list">
        <div class="bubble-list-heading">
          active discussions
          <a href="{{discussionSubmitPath this}}">
            <button class="std-btn-light pull-right">add new discussion</button>
          </a>
        </div>
        {{#if discussionPosts}}
          {{#each discussionPosts}}
            {{> postItem}}
          {{/each}}
          {{#if hasMoreDiscussions}}
            <a href="{{bubbleDiscussionPagePath this}}">
              <button class = "btn btn-small btn-success more-discussions" type="button" >+{{discussionsCount}} more discussions</button>
            </a>
          {{/if}}
          {{else}}
            <br><br>There are no discussions yet. Start a discusssion now!
        {{/if}}
      </div>

      <div class="bubble-list">
        <div class="bubble-list-heading">
          latest files
          <a href="{{fileSubmitPath this}}">
            <button class="std-btn-light pull-right">add new file</button>
          </a> 
        </div>
        {{#if filePosts}}
          {{#each filePosts}}
            {{> postItem}}
          {{/each}}
          {{#if hasMoreFiles}}
            <a href="{{bubbleFilePagePath this}}">
              <button class = "btn btn-small btn-success more-files" type="button" >+{{filesCount}} more files</button>
            </a>
          {{/if}}
        {{else}}
            <br><br>There are no files yet. Upload a file now!
        {{/if}}
      </div>


    {{/if}}
  {{/with}}
</template>
