<template name="bubblePage">
  {{#with getCurrentBubble}}

    {{> bubblePageHeader}}
  	bubble updates
    {{>updatesList}}
    <hr>
    upcoming events
    {{#each posts}}
      {{#if isEvent}}
        {{> postItem}}
      {{/if}}
    {{/each}}
    <hr>
    active discussions
    {{#each posts}}
      {{#if isDiscussion}}
        {{> postItem}}
      {{/if}}
    {{/each}}
    <hr>
    recent documents
    <hr>
    latest files
    {{#each posts}}
      {{#if isFile}}
        {{> postItem}}
      {{/if}}
    {{/each}}
    <hr>
  {{/with}}
</template>

<!-- 
<template name="bubblePage">
  {{#with getCurrentBubble}}
  	{{>bubbleCover}}
  	<hr>
  	bubble updates
    {{> bubblePageId}}
    <hr>
    upcoming events
    {{> bubbleAdminsList}}
    <hr>
    active discussions
    {{> bubbleMembersList}}
    <hr>
    recent documents
    {{> bubbleApplicantsList}}
    <hr>
    latest files


  {{/with}}
</template> -->
