<template name="bubblePage">
  {{#with getCurrentBubble}}
    {{> bubbleCover}}

    <a href="{{discussionSubmitPath this}}">
      <div class="btn">Start a Post</div>
	  </a>
	  <hr/>
	  {{>updatesList}}
	  <hr/>
	  
	  {{#each posts}}
	  	{{> postItem}}
	  {{/each}}
  {{/with}}
</template>

<!-- 
<template name="bubblePage">
  {{#with getCurrentBubble}}
  	{{>bubbleCover}}
  	<hr>
  	bubble updates
    {{> bubblePageId}}
    <hr>
    upcoming events
    {{> bubbleAdminsList}}
    <hr>
    active discussions
    {{> bubbleMembersList}}
    <hr>
    recent documents
    {{> bubbleApplicantsList}}
    <hr>
    latest files


  {{/with}}
</template> -->