<template name="dashboard">

	<div class="dashboard-cover">
		<div id="carousel-dashboard" class="carousel slide">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-dashboard" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-dashboard" data-slide-to="1"></li>
		    <li data-target="#carousel-dashboard" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		    	<div class="item-inner" id="slide-1">
					<div class="dashboard-cover-text-1a">
						welcome to bubble
					</div>
					<div class="dashboard-cover-text-1b">
						Get involved.  Stay on top of your groups.  Collaborate.
					</div>
		    		<div class="dashboard-cover-text-1c">
		    			<div class="pull-left" style="margin-right: 5px;">{{> icon-small-reply-left}}</div>
						<div class="pull-left">Find and<br>create your<br>Bubbles</div>
					</div>
					<div class="dashboard-cover-text-1d">
						<div class="pull-left" style="margin-right: 5px;">{{> icon-small-reply-top}}</div>
						<div class="pull-left">Get updates from your<br>Bubbles (on your phone too!)</div>
					</div>
		    	</div>
		    </div>
		    <div class="item">
		    	<div class="item-inner" id="slide-2">
		    		<div class="dashboard-cover-text-1a">
						go mobile
					</div>
					<div class="dashboard-cover-text-1b">
						Download the free EB app on your phone
					</div>
					<div class="v-middle dashboard-icon-container">
						<div class="v-inner dashboard-icon" id="dashboard-icon-2a">
							<div>{{> icon-android}}</div>
							<div class="dashboard-icon-text">Android</div>
						</div>
					</div>
					<div class="v-middle dashboard-icon-container">
						<div class="v-inner dashboard-icon" id="dashboard-icon-2b">
							<div>{{> icon-iOS}}</div>
							<div class="dashboard-icon-text">iOS</div>
						</div>
					</div>
		    	</div>
		    </div>
		    <div class="item">
		    	<div class="item-inner" id="slide-3">
		    		<div class="dashboard-cover-text-1a">
						explore emory
					</div>
					<div class="dashboard-cover-text-1b">
						Check out professor reviews,<br>classifieds, and more
					</div>
					<div class="v-middle dashboard-icon-container">
						<div class="v-inner dashboard-icon" id="dashboard-icon-3a">
							<div>{{> icon-official}}</div>
							<div class="dashboard-icon-text">Campus<br>Events</div>
						</div>
						<div class="v-inner dashboard-icon" id="dashboard-icon-3b">
							<div>{{> icon-classifieds}}</div>
							<div class="dashboard-icon-text">Classifieds</div>
						</div>
						<div class="v-inner dashboard-icon" id="dashboard-icon-3c">
							<div>{{> icon-professorreviews}}</div>
							<div class="dashboard-icon-text">Things to<br>do in ATL</div>
						</div>
						<div class="v-inner dashboard-icon" id="dashboard-icon-3d">
							<div>{{> icon-controversial}}</div>
							<div class="dashboard-icon-text">Open<br>Forum</div>
						</div>
					</div>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>

  {{#if haveUpdates}}
	<div class="dashboard-section-header">
		{{pluralize getNumUpdates 'update' ""}}
    		<button class="std-btn-light pull-right clear-updates">clear all</button>
    		{{#if greaterThan getNumUpdates 3}}
    			<button class="std-btn-light pull-right dashboard-more-updates">see all</button>
			{{/if}}
    	</div>
    	<div class="dashboard-updates">
		{{#each getUpdates}}
			{{> updateItem}}
		{{/each}}
	</div>
  {{/if}}

          <div class="dashboard-section-header">
            latest posts from explore
          </div>
          <div>
            <div></div>

            {{#each getFiveExplorePostsBB}}
            	{{#if isEvent}}
	           		{{> listItemExploreEventPostBB}}
	           	{{else}}
	           		{{> listItemExploreDiscussionPostBB}}
           		{{/if}}
            {{else}}
            	{{> gifLoaderToParent}}
        	{{/each}}
          </div>
        </div>
</template>
