button.toggle_visible.create_an_event.red_button
  block button_text

form.toggle_invisible.add_event.form-horizontal(method="post", action="/bubbles/#{bubble._id}/#{bubble_section}/create")
  block form
