button(class='toggle_visible create_post colorize_texture_#{bubble_section}')
  block button_text

form.bubble_form.toggle_invisible.form-horizontal(method="post", action="/bubbles/#{bubble._id}/#{bubble_section}/create")
  block form
