/*---------------------------------------------------------
------------------------ CSS RESET ------------------------
---------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
}
body {
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}
/*---------------------------------------------------------
---------------------- MIXINS/VARIBA ----------------------
---------------------------------------------------------*/
/*---------------------------------------------------------
-------------------------- FONTS --------------------------
---------------------------------------------------------*/
/*---------------------------------------------------------
------------------------- TOP BAR -------------------------
---------------------------------------------------------*/
.top-bar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #011126;
}
.top-bar .main-logo {
  display: inline-block;
  margin-left: 14px;
  margin-top: 12px;
}
.top-bar .main-logo .type {
  top: 50%;
  margin-top: -9px;
  left: 58px;
  position: absolute;
}
.top-bar .main-logo:hover {
  opacity: 0.9;
}
.main-menu {
  float: right;
}
.user-menu {
  padding: 0;
  margin: 0;
}
.user-menu li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  max-height: 60px;
}
.user-menu li a {
  letter-spacing: 1px;
  padding: 24px 16px;
  max-height: 60px;
  display: block;
  color: #a5bbc9;
  text-decoration: none;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  border-left: 1px solid #224253;
}
.user-menu li a .updates-number {
  display: none;
}
.user-menu li a:hover {
  background-color: #001f37;
  color: #f7f8f8;
}
.user-menu li a:hover:after {
  top: 19px;
  border-top-color: transparent;
  border-bottom-color: #f7f8f8;
}
.user-menu li a:hover .updates-number {
  background-color: #f7f8f8;
}
.user-menu li .drop {
  visibility: hidden;
  position: absolute;
  top: 65px;
  opacity: 0;
  right: 0;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.user-menu li .drop:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #a5bbc9;
  border-left-width: 8px;
  border-right-width: 8px;
  right: 14px;
  top: -15px;
}
.user-menu li .drop li {
  display: list-item;
}
.user-menu li .drop li:first-child a {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.user-menu li .drop li:last-child a {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.user-menu li .drop li a {
  min-width: 180px;
  padding: 16px 42px 16px 21px;
  background-color: #a5bbc9;
  display: block;
  text-transform: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #2c5972;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid #89a5b8;
}
.user-menu li .drop li a .icon {
  margin-right: 7px;
}
.user-menu li .drop li a .icon svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: #2c5972;
}
.user-menu li .drop li a:hover {
  background-color: #89a5b8;
  color: #f7f8f8;
}
.user-menu li .drop li a:hover .icon svg {
  vertical-align: middle;
  fill: #f7f8f8;
}
.user-menu li .drop li a .bold {
  font-weight: 600;
}
.user-menu li .notif {
  width: 270px;
}
.user-menu li .notif li a {
  padding: 10px 21px;
  background-color: #a5bbc9;
  display: block;
  text-transform: none;
  font-size: 13px;
  font-family: 'proxima-nova', Arial, Sans-Serif;
  font-weight: 600;
}
.user-menu li .notif li a .bold {
  font-weight: 700;
}
.user-menu li .notif li a:hover {
  background-color: #89a5b8;
  color: #f7f8f8;
}
.user-menu li .notif li:first-child >a {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.user-menu li .notif li:last-child {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  display: list-item;
  text-align: center;
  padding: 14px 0;
  background-color: #2f5973;
}
.user-menu li .notif li .parent-name {
  font-size: 13px;
  padding: 18px 21px;
  color: #f7f8f8;
  font-family: 'proxima-nova', Arial, Sans-Serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.user-menu li .notif .options a {
  display: inline-block !important;
  min-width: 1px;
  background-color: #2f5973;
  color: #a5bbc9;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 4px;
  border-bottom: none;
  border-radius: 0px !important;
  border-right: 1px solid #a5bbc9;
}
.user-menu li .notif .options a:hover {
  background-color: #2f5973;
}
.user-menu li .notif .options a:last-child {
  border-right: none;
}
.user-menu .user-options {
  position: relative;
}
.user-menu .user-options a {
  padding-left: 70px;
}
.user-menu .user-options a:hover .user-image {
  border-color: #f7f8f8;
}
.user-menu .user-options a .user-image {
  position: absolute;
  left: 18px;
  top: 50%;
  height: 35px;
  width: 35px;
  margin-top: -18px;
  border: 2px solid #a5bbc9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-menu .notif-holder {
  position: relative;
}
.user-menu .notif-holder a {
  padding-left: 60px;
}
.user-menu .notif-holder a .updates-number {
  top: 50%;
  margin-top: -10px;
  left: 18px;
  position: absolute;
  display: block;
  margin-right: 10px;
  background-color: #a5bbc9;
  border-radius: 24px;
  color: #011126;
  padding: 3px 7px;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-size: 13px;
  font-weight: 900;
}
.user-menu .hasItems >a {
  padding-right: 40px;
}
.user-menu .hasItems >a:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 6px solid transparent;
  border-top-color: #a5bbc9;
  border-left-width: 6px;
  border-right-width: 6px;
  right: 16px;
  top: 26px;
}
.user-menu .drop-active a {
  background-color: #001f37;
  color: #f7f8f8;
}
.user-menu .drop-active a .user-image {
  border-color: #f7f8f8;
}
.user-menu .drop-active a:after {
  top: 19px;
  border-top-color: transparent;
  border-bottom-color: #f7f8f8;
}
.user-menu .drop-active a .updates-number {
  background-color: #f7f8f8;
}
.user-menu .drop-active .drop {
  visibility: visible;
  z-index: 110;
  opacity: 1;
  top: 55px;
}
/*---------------------------------------------------------
------------------------- SIDEBAR -------------------------
---------------------------------------------------------*/
.sidebar-container {
  position: fixed;
  left: 0;
  height: 100%;
}
.sidebar-container .side-bar {
  z-index: 95;
  width: 100px;
  height: 100%;
  background-color: #2f5973;
  display: block;
  position: relative;
}
.sidebar-container .side-bar .sidebar-menu {
  padding-top: 60px;
}
.sidebar-container .side-bar .sidebar-menu li {
  list-style: none;
  display: block;
  border-bottom: 1px solid #436c88;
}
.sidebar-container .side-bar .sidebar-menu li button {
  cursor: pointer;
  color: #95afbf;
  position: relative;
  height: 80px;
  width: 100%;
}
.sidebar-container .side-bar .sidebar-menu li button.active-true,
.sidebar-container .side-bar .sidebar-menu li button:hover {
  color: #f7f8f8;
  background: #274b61;
}
.sidebar-container .side-bar .sidebar-menu li button.active-true .icon svg,
.sidebar-container .side-bar .sidebar-menu li button:hover .icon svg {
  fill: #f7f8f8;
}
.sidebar-container .side-bar .sidebar-menu li button:focus {
  outline: none;
}
.sidebar-container .side-bar .sidebar-menu li button span {
  font-weight: 400;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  text-transform: uppercase;
  font-size: 10px;
}
.sidebar-container .side-bar .sidebar-menu li button .name {
  display: block;
  margin-top: 5px;
  letter-spacing: 0.5px;
}
.sidebar-container .side-bar .sidebar-menu li button .icon svg {
  fill: #95afbf;
}
.sidebar-container .side-bar .sidebar-menu li button.active {
  -webkit-transition: border-left 0.1s ease-in-out;
  -moz-transition: border-left 0.1s ease-in-out;
  -ms-transition: border-left 0.1s ease-in-out;
  -o-transition: border-left 0.1s ease-in-out;
  transition: border-left 0.1s ease-in-out;
  color: #f7f8f8;
  background: #274b61;
  border-left: 3px solid #95afbf;
}
.sidebar-container .side-bar .sidebar-menu li button.active:after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  right: -9px;
  top: 50%;
  margin-top: -13px;
  border: 12px solid transparent;
  border-left-color: #274b61;
  border-left-width: 5px;
  border-right-width: 5px;
}
.sidebar-container .side-bar .sidebar-menu li button.active .icon svg {
  fill: #f7f8f8;
}
.sidebar-menu-content {
  position: absolute;
  left: -100px;
  background-color: #a5bbc9;
  top: 60px;
  width: 210px;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.sidebar-menu-content .title {
  font-size: 13px;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 14px 17px;
  border-bottom: 1px solid #89a5b8;
}
.sidebar-menu-content .title h3 {
  color: #2f5973;
  float: left;
  vertical-align: middle;
  padding: 8px 0;
}
.sidebar-menu-content .title a {
  position: relative;
  float: right;
  padding: 9px 14px 9px 31px;
  border-radius: 21px;
  background-color: #2f5973;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 800;
  color: #a5bbc9;
}
.sidebar-menu-content .title a .icon {
  position: absolute;
  left: 9px;
  top: 6px;
}
.sidebar-menu-content .title a:hover {
  background-color: #011126;
}
.sidebar-menu-content .title a:hover svg {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.sidebar-menu-content .title a:hover svg rect {
  fill: #011126;
}
.sidebar-menu-content .title a svg {
  margin-right: 2px;
  vertical-align: middle;
  fill: #a5bbc9;
}
.sidebar-menu-content .title a svg rect {
  fill: #2f5973;
}
.sidebar-menu-content .bubbles li {
  list-style-type: none;
}
.sidebar-menu-content .bubbles li a {
  font-family: 'proxima-nova', Arial, Sans-Serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  color: #2f5973;
  border-bottom: 1px solid #89a5b8;
  width: 100%;
  text-align: left;
  padding: 18px 16px;
  text-decoration: none;
}
.sidebar-menu-content .bubbles li a:hover {
  background-color: #98b0c0;
}
.menu-pull {
  left: 100px;
  opacity: 1;
}
.mini-footer {
  position: absolute;
  bottom: 0;
}
.mini-footer li {
  padding: 9px 0;
  text-align: center;
}
.mini-footer li:first-child {
  border-top: 1px solid #436c88;
}
.mini-footer li p,
.mini-footer li span {
  font-family: 'proxima-nova', Arial, Sans-Serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 8px;
  color: #95afbf;
}
.mini-footer .info {
  background-color: #011126;
}
.mini-footer .info .name {
  font-size: 10px;
  vertical-align: middle;
}
.mini-footer .info .icon svg {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 7px;
}
/*-------------- BUBBLE COLOR TYPES --------------*/
.tab-active {
  background-color: #98b0c0;
  position: relative;
}
.tab-active:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -13px;
  border: 12px solid transparent;
  border-left-color: #274b61;
  border-left-width: 5px;
  border-right-width: 5px;
}
.type-student {
  border-right: 3px solid #b0606d;
}
.type-student:after {
  border-left-color: #b0606d;
}
.type-greek {
  border-right: 3px solid #70c889;
}
.type-greek:after {
  border-left-color: #70c889;
}
.type-arts {
  border-right: 3px solid #ff8a54;
}
.type-arts:after {
  border-left-color: #ff8a54;
}
.type-athletics {
  border-right: 3px solid #ff6b53;
}
.type-athletics:after {
  border-left-color: #ff6b53;
}
.type-academic {
  border-right: 3px solid #673653;
}
.type-academic:after {
  border-left-color: #673653;
}
.type-faculty {
  border-right: 3px solid #de8275;
}
.type-faculty:after {
  border-left-color: #de8275;
}
.type-campus {
  border-right: 3px solid #6bb6a1;
}
.type-campus:after {
  border-left-color: #6bb6a1;
}
.type-class {
  border-right: 3px solid #f9c148;
}
.type-class:after {
  border-left-color: #f9c148;
}
.type-residence {
  border-right: 3px solid #6dc3ba;
}
.type-residence:after {
  border-left-color: #6dc3ba;
}
.type-custom {
  border-right: 3px solid #462446;
}
.type-custom:after {
  border-left-color: #462446;
}
/*-------------- END BUBBLE COLOR TYPE --------------*/
/*---------------------------------------------------------
----------------------- RESPONSIVE ------------------------
---------------------------------------------------------*/
.side-activator {
  display: none;
}
/***************************************************************************************** 
*********************** MEDIA QUERIES 
*****************************************************************************************/
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .hide {
    display: none;
  }
  .top-bar .main-logo {
    position: absolute;
    left: 50%;
    margin-left: -20px;
  }
  .top-bar .main-logo .type {
    display: none;
  }
  .top-bar .main-logo:hover {
    opacity: 0.9;
  }
  .top-bar .main-menu .user-menu li {
    display: none;
  }
  .top-bar .main-menu .user-menu li a {
    border-left: none;
  }
  .top-bar .main-menu .user-menu li a:after {
    border: none;
  }
  .top-bar .main-menu .user-menu .notif-holder {
    display: inline-block;
  }
  .top-bar .main-menu .user-menu .notif-holder .drop {
    right: 11px;
  }
  .top-bar .main-menu .user-menu .notif-holder li {
    display: list-item;
  }
  .top-bar .main-menu .user-menu .notif-holder .r-notif {
    height: 60px;
    padding: 0;
    width: 67px;
  }
  .sidebar-container {
    left: -300px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .sidebar-container .side-bar {
    width: 59px;
  }
  .sidebar-container .side-bar .sidebar-menu {
    padding-top: 60px;
  }
  .sidebar-container .side-bar .sidebar-menu li button {
    height: 59px;
  }
  .sidebar-container .side-bar .sidebar-menu li button .name {
    display: none;
  }
  .sidebar-container .menu-pull {
    left: 59px;
  }
  .sidebar-container-active {
    left: 0;
    opacity: 1;
  }
  .side-activator {
    display: block;
    height: 60px;
    display: inline-block;
  }
  .side-activator:hover {
    background-color: #001f37;
  }
  .side-activator .icon {
    display: inline-block;
    padding: 20px 20px;
  }
  .side-activator .icon:hover svg {
    fill: #f7f8f8;
  }
  .side-activator .icon svg {
    fill: #a5bbc9;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
