/*---------------------------------------------------------
------------------------ CSS RESET ------------------------
---------------------------------------------------------*/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
  display block

body 
  line-height 1

ol, ul 
  list-style none

blockquote, q 
  quotes none

blockquote:before, blockquote:after,
q:before, q:after 
  content ''
  content none

table 
  border-collapse collapse
  border-spacing 0
//Box Sizing
*  
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
//ClearFix
.clearfix
  zoom: 1

.clearfix:before,
.clearfix:after
  display table
  content ""
  line-height 0

.clearfix:after 
  clear both

button 
  background none
  border none
  margin 0
  padding 0
  width auto
  overflow visible

body
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;

/*---------------------------------------------------------
---------------------- MIXINS/VARIBA ----------------------
---------------------------------------------------------*/


dark-color          =   #011126 // Top menu color.
dark-color-shade    =   #224253 // Top menu shade.
medium-color        =   #2F5973 // Sidebar color.
medium-dark-color   =   #274B61 // Sidebar main active.
light-color         =   #A5BBC9 // Menu Color.
light-color-shade   =   #89A5B8 // Shade color for the menu.
icons-color         =   #7998AA // Color for the sidebar icons.
main-xlight         =   #95afbf
white-light         =   #F7F8F8


/*---------------------------------------------------------
-------------------------- FONTS --------------------------
---------------------------------------------------------*/

main-font  =  'brandon-grotesque', Arial, Sans-Serif
alt-font   =  'proxima-nova', Arial, Sans-Serif





/*---------------------------------------------------------
------------------------- TOP BAR -------------------------
---------------------------------------------------------*/

.top-bar
  z-index 100
  position fixed
  top 0
  left 0
  width 100%
  height 60px
  background-color dark-color
  .main-logo
    display inline-block
    margin-left 14px
    margin-top 12px
    .type
      top 50%
      margin-top -9px
      left 42+16px
      position absolute
    &:hover
      opacity 0.9


.main-menu
  float right

.user-menu
  padding 0
  margin 0
  li
    display inline-block
    list-style-type none
    position relative
    max-height 60px
    //GeneralAnchorRules
    a
      letter-spacing 1px
      padding 24px 16px
      max-height 60px
      display block
      color light-color
      text-decoration none
      font-family main-font
      font-weight 900
      font-size 12px
      text-transform uppercase
      border-left 1px solid dark-color-shade
      .updates-number
        display none
      &:hover
        background-color #001f37
        color white-light
        &:after
          top 19px
          border-top-color transparent // ArrowColor
          border-bottom-color white-light
        .updates-number
          background-color white-light
    //GeneralMenu
    .drop
      visibility hidden
      position absolute
      top 65px
      opacity 0
      right 0
      display inline-block
      -webkit-transition all 0.2s ease-in-out
      -moz-transition all 0.2s ease-in-out
      -ms-transition all 0.2s ease-in-out
      -o-transition all 0.2s ease-in-out
      transition all 0.2s ease-in-out
      &:after
        content               ''
        height                0
        width                 0
        position              absolute
        border                8px solid transparent
        border-bottom-color   light-color
        border-left-width     8px
        border-right-width    8px
        right 14px
        top -15px
      li
        display list-item
        &:first-child
          a
            -webkit-border-radius 8px 8px 0 0
            -moz-border-radius 8px 8px 0 0
            border-radius 8px 8px 0 0
        &:last-child
            a
              -webkit-border-radius 0 0 8px 8px
              -moz-border-radius 0 0 8px 8px
              border-radius 0 0 8px 8px
        a
          min-width 180px
          padding 16px 42px 16px 21px
          background-color light-color
          display block
          text-transform none
          text-transform uppercase
          font-size 12px
          color #2C5972
          font-family main-font
          font-weight 700
          border none
          border-bottom 1px solid light-color-shade
          .icon
            margin-right 7px
            svg
              width 20px
              height 20px
              vertical-align middle
              fill #2C5972
          &:hover
            background-color light-color-shade
            color white-light
            .icon
              svg
                vertical-align middle
                fill white-light
          .bold
            font-weight 600
    //NotifcationMenu     
    .notif 
      width 270px
      li
        a
          padding 10px 21px
          background-color light-color
          display block
          text-transform none
          font-size 13px
          font-family alt-font
          font-weight 600
          .bold
            font-weight 700
          &:hover
            background-color light-color-shade
            color white-light
        &:first-child
          >a
            -webkit-border-radius 8px 8px 0 0
            -moz-border-radius 8px 8px 0 0
            border-radius 8px 8px 0 0
        &:last-child
            -webkit-border-radius 0 0 8px 8px
            -moz-border-radius 0 0 8px 8px
            border-radius 0 0 8px 8px
            display list-item
            text-align center
            padding 14px 0
            background-color medium-color
        .parent-name
          font-size 13px
          padding 18px 21px
          color white-light
          font-family alt-font
          font-weight 700
          letter-spacing 1px
      //OptionsBar    
      .options
        a
          display inline-block!important
          min-width 1px //AQuickFix
          background-color medium-color
          color light-color
          font-weight 700
          font-size 11px
          text-transform uppercase
          padding 0 4px
          border-bottom none
          border-radius 0px!important //AQuickFix
          border-right 1px solid light-color
          &:hover
            background-color medium-color
          &:last-child
            border-right none
  .user-options
    position relative
    a
      padding-left 70px
      &:hover
        .user-image
          border-color white-light
      .user-image
        position absolute
        left 18px
        top 50%
        height 35px
        width 35px
        margin-top -18px
        border 2px solid light-color
        -webkit-border-radius 50%
        -moz-border-radius 50%
        border-radius 50%
  .notif-holder
    position relative
    a
      padding-left 60px
      .updates-number
        top 50%
        margin-top -10px
        left 18px
        position absolute
        display block
        margin-right 10px
        background-color light-color
        border-radius 24px
        color dark-color
        padding 3px 7px
        font-family main-font
        font-size 13px
        font-weight 900          
  //DropdownWithItems
  .hasItems
    >a
      padding-right 28+12px
      &:after
        content               ''
        height                0
        width                 0
        position              absolute
        border                6px solid transparent
        border-top-color      light-color
        border-left-width     6px
        border-right-width    6px
        right 16px
        top 26px
  //AnimationClass --> Added to the ListItem   
  .drop-active
    a
      .user-image
        border-color white-light
      background-color #001f37
      color white-light
      &:after
        top 19px
        border-top-color transparent // ArrowColor
        border-bottom-color white-light
      .updates-number
        background-color white-light // NumberColor
    .drop
      visibility visible
      z-index 110
      opacity 1
      top 55px











/*---------------------------------------------------------
------------------------- SIDEBAR -------------------------
---------------------------------------------------------*/

.sidebar-container
  position fixed
  left 0
  height 100%
  .side-bar
    z-index 95
    width 100px
    height 100%
    background-color medium-color
    display block
    position relative
    .sidebar-menu
      padding-top 60px
      li
        list-style none
        display block
        border-bottom      1px solid #436C88
        button
          cursor pointer
          color              main-xlight
          position           relative
          height             80px
          width              100%
          &.active-true,
          &:hover
            color              white-light
            background         medium-dark-color
            .icon
              svg
                fill white-light
          &:focus
            outline none
          span
            font-weight 400
            font-family main-font
            text-transform uppercase
            font-size 10px
          .name
            display        block
            margin-top     5px
            letter-spacing 0.5px
          .icon
            svg
              fill  main-xlight

        button.active
          -webkit-transition          border-left 0.1s ease-in-out
          -moz-transition             border-left 0.1s ease-in-out
          -ms-transition              border-left 0.1s ease-in-out
          -o-transition               border-left 0.1s ease-in-out
          transition                  border-left 0.1s ease-in-out
          color                       white-light
          background                  medium-dark-color
          border-left                 3px solid main-xlight
          &:after
            content               ' '
            height                0
            width                 0
            position              absolute
            right                 -9px
            top                   50%
            margin-top            -13px
            border                12px solid transparent
            border-left-color     medium-dark-color
            border-left-width     5px
            border-right-width    5px
          .icon
            svg
              fill white-light


.sidebar-menu-content
  position                absolute
  left                    -100px
  background-color        light-color
  top                     60px
  width                   210px
  height                  100%
  opacity                 0
  -webkit-transition      all 0.4s ease-in-out
  -moz-transition         all 0.4s ease-in-out
  -ms-transition          all 0.4s ease-in-out
  -o-transition           all 0.4s ease-in-out
  transition              all 0.4s ease-in-out
  .title
    font-size 13px
    font-family main-font
    font-weight 900
    text-transform uppercase
    padding 14px 17px
    border-bottom 1px solid light-color-shade
    h3
      color medium-color
      float left
      vertical-align middle
      padding 8px 0
    a
      position relative
      float right
      padding 9px 14px 9px 30+1px
      border-radius 21px
      background-color medium-color
      text-decoration none
      font-size 11px
      text-transform uppercase
      font-family main-font
      font-weight 800
      color light-color
      .icon
        position  absolute
        left 9px
        top 6px
      &:hover
        background-color dark-color
        svg
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          -webkit-transition: -webkit-transform 0.5s ease-in-out;
          -moz-transition: -moz-transform 0.5s ease-in-out;
          -o-transition: -o-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
          rect
            fill dark-color
      svg
        margin-right 2px
        vertical-align middle
        fill light-color
        rect
          fill medium-color
  .bubbles
    li
      list-style-type none
      a
        font-family 'proxima-nova', Arial, Sans-Serif
        font-weight 600
        font-size 14px
        display inline-block
        color medium-color
        border-bottom 1px solid light-color-shade
        width 100%
        text-align left
        padding 18px 16px
        text-decoration none
        &:hover
          background-color #98B0C0

.menu-pull
  left 100px
  opacity 1

.mini-footer
  position absolute
  bottom 0
  li
    padding     9px 0
    text-align  center
    &:first-child
      border-top  1px solid #436C88
    p,span
      font-family alt-font
      text-transform uppercase
      font-weight 400
      font-size 8px
      color main-xlight
  .info
    background-color        dark-color
    .name
      font-size         10px
      vertical-align     middle
    .icon
      svg
        width             22px
        height            22px
        vertical-align    middle
        margin-right      7px




/*-------------- BUBBLE COLOR TYPES --------------*/

.tab-active
  background-color #98B0C0
  position relative
  &:after
    content               ''
    height                0
    width                 0
    position              absolute
    right                 -12px
    top                   50%
    margin-top            -13px
    border                12px solid transparent
    border-left-color     medium-dark-color
    border-left-width     5px
    border-right-width    5px

.type-student
  border-right 3px solid #b0606d
  &:after
    border-left-color     #b0606d

.type-greek
  border-right 3px solid #70C889
  &:after
    border-left-color     #70C889

.type-arts
  border-right 3px solid #ff8a54
  &:after
    border-left-color     #ff8a54

.type-athletics
  border-right 3px solid #ff6b53
  &:after
    border-left-color     #ff6b53

.type-academic
  border-right 3px solid #673653
  &:after
    border-left-color     #673653

.type-faculty
  border-right 3px solid #de8275
  &:after
    border-left-color     #de8275

.type-campus
  border-right 3px solid #6bb6a1
  &:after
    border-left-color     #6bb6a1

.type-class
  border-right 3px solid #f9c148
  &:after
    border-left-color     #f9c148

.type-residence
  border-right 3px solid #6dc3ba
  &:after
    border-left-color     #6dc3ba

.type-custom
  border-right 3px solid #462446
  &:after
    border-left-color     #462446

/*-------------- END BUBBLE COLOR TYPE --------------*/ 






/*---------------------------------------------------------
----------------------- RESPONSIVE ------------------------
---------------------------------------------------------*/
.side-activator
  display none;


/***************************************************************************************** 
*********************** MEDIA QUERIES 
*****************************************************************************************/ 

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px)
  // General Styles
  .hide
    display none
  // Responsive User Menu
  .top-bar
    .main-logo
      position absolute
      left 50%
      margin-left -20px
      .type
        display none
      &:hover
        opacity 0.9
    .main-menu
      .user-menu
        li
          display none
          a
            border-left none
            &:after
              border none
        .notif-holder
          display inline-block
          .drop
            right 11px
          li
            display list-item
          .r-notif
            height 60px
            padding 0
            width 67px
  // Responsive Sidebar
  .sidebar-container
    left -300px
    opacity 0
    -webkit-transition all 0.5s
    -moz-transition all 0.5s
    -ms-transition all 0.5s
    -o-transition all 0.5s
    transition all 0.5s
    .side-bar
      width 59px
      .sidebar-menu
        padding-top 60px
        li
          button
            height             59px
            .name
              display        none
    .menu-pull
      left 59px
  .sidebar-container-active
    left 0
    opacity 1

  .side-activator
    display block
    height 60px
    display inline-block
    &:hover
      background-color #001f37
    .icon
      display inline-block
      padding 20px 20px
      &:hover
        svg
          fill white-light
      svg
        fill light-color

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
