/*---------------------------------------------------------
------------------------ CSS RESET ------------------------
---------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
  overflow: hidden;
/* Added testing v1 */
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
}
/*---------------------------------------------------------
---------------------- MIXINS/VARIBA ----------------------
---------------------------------------------------------*/
/*---------------------------------------------------------
-------------------------- FONTS --------------------------
---------------------------------------------------------*/
/*---------------------------------------------------------
------------------------- TOP BAR -------------------------
---------------------------------------------------------*/
.top-bar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #011126;
}
.top-bar .main-logo {
  display: inline-block;
  margin-left: 14px;
  margin-top: 12px;
}
.top-bar .main-logo .type {
  top: 50%;
  margin-top: -9px;
  left: 58px;
  position: absolute;
}
.top-bar .main-logo:hover {
  opacity: 0.9;
}
.main-menu {
  float: right;
}
.user-menu {
  padding: 0;
  margin: 0;
}
.user-menu li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  max-height: 60px;
}
.user-menu li a {
  letter-spacing: 1px;
  padding: 24px 16px;
  max-height: 60px;
  display: block;
  color: #a5bbc9;
  text-decoration: none;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  border-left: 1px solid #224253;
}
.user-menu li a .updates-number {
  display: none;
}
.user-menu li a:hover {
  background-color: #001f37;
  color: #f7f8f8;
}
.user-menu li a:hover:after {
  top: 19px;
  border-top-color: transparent;
  border-bottom-color: #f7f8f8;
}
.user-menu li a:hover .updates-number {
  background-color: #f7f8f8;
}
.user-menu li .drop {
  visibility: hidden;
  position: absolute;
  top: 65px;
  opacity: 0;
  right: 0;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.user-menu li .drop:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #a5bbc9;
  border-left-width: 8px;
  border-right-width: 8px;
  right: 14px;
  top: -15px;
}
.user-menu li .drop li {
  display: list-item;
}
.user-menu li .drop li:first-child a {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.user-menu li .drop li:last-child a {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.user-menu li .drop li a {
  min-width: 180px;
  padding: 16px 42px 16px 21px;
  background-color: #a5bbc9;
  display: block;
  text-transform: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #2c5972;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 700;
  border: none;
  border-bottom: 1px solid #89a5b8;
}
.user-menu li .drop li a .icon {
  margin-right: 7px;
}
.user-menu li .drop li a .icon svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: #2c5972;
}
.user-menu li .drop li a:hover {
  background-color: #89a5b8;
  color: #f7f8f8;
}
.user-menu li .drop li a:hover .icon svg {
  vertical-align: middle;
  fill: #f7f8f8;
}
.user-menu li .drop li a .bold {
  font-weight: 600;
}
.user-menu li .notif {
  width: 270px;
}
.user-menu li .notif li a {
  padding: 10px 21px;
  background-color: #a5bbc9;
  display: block;
  text-transform: none;
  font-size: 13px;
  font-family: 'proxima-nova', Arial, Sans-Serif;
  font-weight: 600;
}
.user-menu li .notif li a .bold {
  font-weight: 700;
}
.user-menu li .notif li a:hover {
  background-color: #89a5b8;
  color: #f7f8f8;
}
.user-menu li .notif li:first-child >a {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.user-menu li .notif li:last-child {
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  display: list-item;
  text-align: center;
  padding: 14px 0;
  background-color: #2f5973;
}
.user-menu li .notif li .parent-name {
  font-size: 13px;
  padding: 18px 21px;
  color: #f7f8f8;
  font-family: 'proxima-nova', Arial, Sans-Serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.user-menu li .notif .options a {
  display: inline-block !important;
  min-width: 1px;
  background-color: #2f5973;
  color: #a5bbc9;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 4px;
  border-bottom: none;
  border-radius: 0px !important;
  border-right: 1px solid #a5bbc9;
}
.user-menu li .notif .options a:hover {
  background-color: #2f5973;
}
.user-menu li .notif .options a:last-child {
  border-right: none;
}
.user-menu .user-options {
  position: relative;
}
.user-menu .user-options a {
  padding-left: 70px;
}
.user-menu .user-options a:hover .user-image {
  border-color: #f7f8f8;
}
.user-menu .user-options a .user-image {
  position: absolute;
  left: 18px;
  top: 50%;
  height: 35px;
  width: 35px;
  margin-top: -18px;
  border: 2px solid #a5bbc9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.user-menu .notif-holder {
  position: relative;
}
.user-menu .notif-holder a {
  padding-left: 60px;
}
.user-menu .notif-holder a .updates-number {
  top: 50%;
  margin-top: -10px;
  left: 18px;
  position: absolute;
  display: block;
  margin-right: 10px;
  background-color: #a5bbc9;
  border-radius: 24px;
  color: #011126;
  padding: 3px 7px;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-size: 13px;
  font-weight: 900;
}
.user-menu .hasItems >a {
  padding-right: 40px;
}
.user-menu .hasItems >a:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 6px solid transparent;
  border-top-color: #a5bbc9;
  border-left-width: 6px;
  border-right-width: 6px;
  right: 16px;
  top: 26px;
}
.user-menu .drop-active a {
  background-color: #001f37;
  color: #f7f8f8;
}
.user-menu .drop-active a .user-image {
  border-color: #f7f8f8;
}
.user-menu .drop-active a:after {
  top: 19px;
  border-top-color: transparent;
  border-bottom-color: #f7f8f8;
}
.user-menu .drop-active a .updates-number {
  background-color: #f7f8f8;
}
.user-menu .drop-active .drop {
  visibility: visible;
  z-index: 110;
  opacity: 1;
  top: 55px;
}
/*---------------------------------------------------------
------------------------- SIDEBAR -------------------------
---------------------------------------------------------*/
.sidebar-container {
  position: relative;
  float: left;
  padding-top: 60px;
  height: 100%;
}
.sidebar-container .side-bar {
  z-index: 95;
  width: 100px;
  height: 100%;
  background-color: #2f5973;
  display: block;
  position: relative;
  float: left;
}
.sidebar-container .side-bar .sidebar-menu {
  height: 100%;
}
.sidebar-container .side-bar .sidebar-menu li {
  float: none;
  list-style: none;
  display: block;
  border-bottom: 1px solid #436c88;
}
.sidebar-container .side-bar .sidebar-menu li button {
  float: none;
  cursor: pointer;
  color: #95afbf;
  position: relative;
  height: 80px;
  width: 100%;
}
.sidebar-container .side-bar .sidebar-menu li button.active-true,
.sidebar-container .side-bar .sidebar-menu li button:hover {
  color: #f7f8f8;
  background: #274b61;
}
.sidebar-container .side-bar .sidebar-menu li button.active-true .icon svg,
.sidebar-container .side-bar .sidebar-menu li button:hover .icon svg {
  fill: #f7f8f8;
}
.sidebar-container .side-bar .sidebar-menu li button:focus {
  outline: none;
}
.sidebar-container .side-bar .sidebar-menu li button span {
  font-weight: 400;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  text-transform: uppercase;
  font-size: 10px;
}
.sidebar-container .side-bar .sidebar-menu li button .name {
  display: block;
  margin-top: 5px;
  letter-spacing: 0.5px;
}
.sidebar-container .side-bar .sidebar-menu li button .icon svg {
  fill: #95afbf;
}
.sidebar-container .side-bar .sidebar-menu li button.active {
  -webkit-transition: border-left 0.1s ease-in-out;
  -moz-transition: border-left 0.1s ease-in-out;
  -ms-transition: border-left 0.1s ease-in-out;
  -o-transition: border-left 0.1s ease-in-out;
  transition: border-left 0.1s ease-in-out;
  color: #f7f8f8;
  background: #274b61;
  border-left: 3px solid #95afbf;
}
.sidebar-container .side-bar .sidebar-menu li button.active:after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  right: -9px;
  top: 50%;
  margin-top: -13px;
  border: 12px solid transparent;
  border-left-color: #274b61;
  border-left-width: 5px;
  border-right-width: 5px;
}
.sidebar-container .side-bar .sidebar-menu li button.active .icon svg {
  fill: #f7f8f8;
}
.sidebar-menu-content {
  z-index: 80;
  position: relative;
  left: -310px;
  visibility: hidden;
  width: 0;
  opacity: 1;
  background-color: #a5bbc9;
  height: 100%;
  float: left;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.sidebar-menu-content .title {
  font-size: 13px;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 14px 17px;
  border-bottom: 1px solid #89a5b8;
}
.sidebar-menu-content .title h3 {
  color: #2f5973;
  float: left;
  vertical-align: middle;
  padding: 8px 0;
}
.sidebar-menu-content .title a {
  position: relative;
  float: right;
  padding: 9px 14px 9px 31px;
  border-radius: 21px;
  background-color: #2f5973;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 800;
  color: #a5bbc9;
}
.sidebar-menu-content .title a .icon {
  position: absolute;
  left: 9px;
  top: 6px;
}
.sidebar-menu-content .title a:hover {
  background-color: #011126;
}
.sidebar-menu-content .title a:hover svg {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.sidebar-menu-content .title a:hover svg rect {
  fill: #011126;
}
.sidebar-menu-content .title a svg {
  margin-right: 2px;
  vertical-align: middle;
  fill: #a5bbc9;
}
.sidebar-menu-content .title a svg rect {
  fill: #2f5973;
}
.sidebar-menu-content .bubbles {
  height: auto;
}
.sidebar-menu-content .bubbles li {
  list-style-type: none;
}
.sidebar-menu-content .bubbles li a {
  font-family: 'proxima-nova', Arial, Sans-Serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  color: #2f5973;
  border-bottom: 1px solid #89a5b8;
  width: 100%;
  text-align: left;
  padding: 18px 16px;
  text-decoration: none;
}
.sidebar-menu-content .bubbles li a:hover {
  background-color: #98b0c0;
}
.menu-pull {
  left: auto;
  visibility: visible;
  width: auto;
  opacity: 1;
}
.mini-footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
.mini-footer li {
  padding: 9px 0;
  text-align: center;
}
.mini-footer li:first-child {
  border-top: 1px solid #436c88;
}
.mini-footer li p,
.mini-footer li span {
  font-family: 'proxima-nova', Arial, Sans-Serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 8px;
  color: #95afbf;
}
.mini-footer .info {
  background-color: #011126;
}
.mini-footer .info .name {
  font-size: 10px;
  vertical-align: middle;
}
.mini-footer .info .icon svg {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 7px;
}
/*-------------- TESTING BODY TRANSTIONS // Don't use. --------------*/
body.push-menu .sidebar-container {
  visibility: visible;
  width: 59px;
  left: 0;
  opacity: 1;
}
body.push-menu #main {
  position: relative;
  left: 60px;
}
body.push-menu #main -webkit-transition all 0.5sease-in-out -moz-transition all 0.5sease-in-out -ms-transition all 0.5sease-in-out -o-transition all 0.5sease-in-out {
  transition: all 0.5s ease-in-out;
}
/*-------------- BUBBLE COLOR TYPES --------------*/
.tab-active {
  background-color: #98b0c0;
  position: relative;
}
.tab-active:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -13px;
  border: 12px solid transparent;
  border-left-color: #274b61;
  border-left-width: 5px;
  border-right-width: 5px;
}
.type-student {
  border-right: 3px solid #b0606d;
}
.type-student:after {
  border-left-color: #b0606d;
}
.type-greek {
  border-right: 3px solid #70c889;
}
.type-greek:after {
  border-left-color: #70c889;
}
.type-arts {
  border-right: 3px solid #ff8a54;
}
.type-arts:after {
  border-left-color: #ff8a54;
}
.type-athletics {
  border-right: 3px solid #ff6b53;
}
.type-athletics:after {
  border-left-color: #ff6b53;
}
.type-academic {
  border-right: 3px solid #673653;
}
.type-academic:after {
  border-left-color: #673653;
}
.type-faculty {
  border-right: 3px solid #de8275;
}
.type-faculty:after {
  border-left-color: #de8275;
}
.type-campus {
  border-right: 3px solid #6bb6a1;
}
.type-campus:after {
  border-left-color: #6bb6a1;
}
.type-class {
  border-right: 3px solid #f9c148;
}
.type-class:after {
  border-left-color: #f9c148;
}
.type-residence {
  border-right: 3px solid #6dc3ba;
}
.type-residence:after {
  border-left-color: #6dc3ba;
}
.type-custom {
  border-right: 3px solid #462446;
}
.type-custom:after {
  border-left-color: #462446;
}
/*-------------- END BUBBLE COLOR TYPE --------------*/
/*---------------------------------------------------------
-------------------- EXPLORE SECTION ----------------------
---------------------------------------------------------*/
.content-container {
  width: auto;
  overflow: hidden;
  background-color: #f7f8f8;
}
.content-container h1 {
  color: #f00;
  font-size: 50px;
}
.content-container #main {
  border-top: 1px solid #224253;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}
.cover {
  padding: 0 42px;
  height: 107px;
  overflow: hidden;
  max-height: 110px;
  border-bottom: 3px solid #98b0c0;
  position: relative;
  background-color: #000;
}
@media (max-width: 767px) {
  .cover {
    padding: 0 21px;
  }
}
.cover .cover-image img {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.cover .cover-image img -webkit-user-select none -moz-user-select none {
  user-select: none;
}
.cover .cover-content .button {
  margin-top: 35px;
  position: relative;
  float: right;
  padding: 9px 14px 9px 38px;
  border-radius: 21px;
  background-color: rgba(0,0,0,0.2);
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 800;
  color: #a5bbc9;
  border: 1px solid #a5bbc9;
}
.cover .cover-content .button .post {
  display: inline-block;
}
.cover .cover-content .button .cancel {
  display: none;
}
.cover .cover-content .button .icon {
  position: absolute;
  left: 10px;
  top: 7px;
}
.cover .cover-content .button:hover {
  background-color: rgba(0,0,0,0.1);
}
.cover .cover-content .button:hover svg {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.cover .cover-content .button:hover svg rect {
  fill: #011126;
}
.cover .cover-content .button svg {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  margin-right: 2px;
  vertical-align: middle;
  fill: #a5bbc9;
}
.cover .cover-content .button svg rect {
  fill: #011126;
}
.cover .cover-content .title {
  margin-top: 24px;
  position: relative;
  float: left;
  padding-left: 55px;
}
@media (max-width: 767px) {
  .cover .cover-content .title {
    padding-left: 0;
    width: 50%;
    margin-top: 30px;
  }
}
.cover .cover-content .title h3 {
  font-size: 37px;
  font-family: 'proxima-nova', Arial, Sans-Serif;
  color: #fff;
  font-weight: 300;
}
@media (max-width: 767px) {
  .cover .cover-content .title h3 {
    font-size: 28px;
  }
}
.cover .cover-content .title h5 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  color: #a5bbc9;
  letter-spacing: 1px;
}
@media (max-width: 480px) {
  .cover .cover-content .title h5 {
    display: none;
  }
}
.cover .cover-content .title .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}
.cover .cover-content .title .icon svg {
  width: 40px;
  height: 40px;
  fill: #a5bbc9;
}
@media (max-width: 767px) {
  .cover .cover-content .title .icon svg {
    display: none;
  }
}
/*---------------------------------------------------------
---------------------- POSTS SECTION ----------------------
---------------------------------------------------------*/
.posts li:nth-child(odd) .anchor-container {
  background-color: #eef0f0;
}
.posts li:nth-child(even) .anchor-container {
  background-color: #f7f8f8;
}
.posts .post {
  width: 100%;
  list-style: none;
  list-style-type: none;
  display: list-item;
}
.posts .post .anchor-container {
  position: relative;
  padding: 20px 35px;
  background-color: #eef0f0;
  width: 100%;
  display: block;
  text-decoration: none;
}
.posts .post .anchor-container:hover {
  background-color: #fff;
}
.posts .post .anchor-container:hover .comments-number svg {
  fill: #011126;
}
.posts .post .anchor-container:hover .event-date {
  color: #011126;
  border-color: #011126;
}
@media (max-width: 580px) {
  .posts .post .anchor-container {
    padding: 20px 17px 30px 17px;
  }
}
.posts .post .post-title {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  font-family: 'proxima-nova', Arial, Sans-Serif;
  float: left;
  margin-top: 9px;
}
@media (max-width: 767px) {
  .posts .post .post-title {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
  }
}
.posts .post .event-date {
  position: absolute;
  left: 35px;
  top: 50%;
  margin-top: -20px;
  padding: 4px 0;
  text-align: center;
  float: left;
  margin-right: 27px;
  width: 38px;
  height: 40px;
  border: 1px solid #ccd2d7;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 700;
  color: #ccd2d7;
}
.posts .post .event-date .day {
  display: block;
  font-size: 23px;
  line-height: 20px;
}
.posts .post .event-date .month {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 10px;
  display: block;
  letter-spacing: -1px;
}
.posts .post .comments-number {
  position: absolute;
  left: 35px;
  top: 50%;
  margin-top: -11px;
}
.posts .post .comments-number .icon {
  position: relative;
  display: block;
}
.posts .post .comments-number .icon svg {
  width: 24px;
  height: 23px;
  fill: #c3cacf;
}
.posts .post .comments-number .icon .number {
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  position: absolute;
  text-align: center;
  font-weight: 700;
  font-size: 11px;
  line-height: 1em;
  color: #f7f8f8;
  top: 6px;
  display: block;
  width: 24px;
  height: 20px;
}
.posts .post .post-info {
  float: right;
  min-width: 165px;
  max-width: 165px;
}
@media (max-width: 580px) {
  .posts .post .post-info {
    display: none;
  }
}
.posts .post .post-info img {
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 3px solid #c3cacf;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}
.posts .post .post-info .user-name {
  margin-top: 7px;
  margin-bottom: 1px;
  float: left;
  display: inline-block;
  font-family: 'proxima-nova', Arial, Sans-Serif;
  color: #333;
  font-size: 13px;
  font-weight: 400;
}
.posts .post .post-info .date {
  display: block;
  float: left;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #acb6be;
}
.posts .post .event {
  padding-left: 90px;
}
.posts .post .anounce {
  padding-left: 80px;
}
.pagination {
  text-align: left;
  padding: 30px;
}
@media (max-width: 480px) {
  .pagination {
    padding: 30px 0;
    text-align: center;
  }
}
.pagination li {
  display: inline-block;
}
.pagination li a.active {
  background-color: #a5bbc9;
  color: #fff;
}
.pagination li a.next,
.pagination li a.prev {
  font-size: 11px;
  padding: 8px 16px 6px 16px;
  line-height: 14px;
}
.pagination li a {
  text-align: center;
  font-size: 14px;
  margin: 0 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "brandon-grotesque" sans-serif;
  font-weight: 700;
  border: 1px solid #becdd5;
  padding: 7px 0 5px 0;
  min-width: 30px;
  min-height: 30px;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  color: #2d5972;
}
@media (max-width: 480px) {
  .pagination li a {
    margin: 0;
  }
}
.pagination li a:hover {
  background-color: #a5bbc9;
  color: #fff;
}
/*---------------------------------------------------------
-------------------------- FORMS --------------------------
---------------------------------------------------------*/
input[type=text],
textarea {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid #224253;
  width: 100%;
  color: #a5bbc9;
  font-size: 23px;
  line-height: 1.5em;
  font-family: 'proxima-nova', Arial, Sans-Serif;
  font-weight: 300;
  padding: 3px 0;
}
label {
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-weight: 700;
  color: #2d5972;
  font-size: 18px;
  line-height: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #224253;
  width: 100%;
  padding: 4px 0;
  display: inline-block;
}
.form-container {
  position: relative;
  top: -300%;
  height: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #011126;
  padding: 0;
}
.form-container -webkit-transition all 0.7sease-in-out -moz-transition all 0.7sease-in-out -ms-transition all 0.7sease-in-out -o-transition all 0.7sease-in-out {
  transition: all 0.7s ease-in-out;
}
.postas {
  margin-top: 28px;
  padding-right: 330px;
  position: relative;
}
.postas .picker-container {
  position: absolute;
  right: 0;
  top: 0;
}
.picker {
  margin-left: 28px;
  display: inline-block;
  float: right;
  position: relative;
  background-color: #011126;
  height: 34px;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 28px;
  padding-right: 21px;
  -webkit-border-radius: 0 35px 35px 0;
  -moz-border-radius: 0 35px 35px 0;
  border-radius: 0 35px 35px 0;
  cursor: pointer;
  border: 1px solid #2f5973;
  color: #2f5973;
}
.picker .text {
  color: #2f5973;
  padding-top: 10px;
  display: inline-block;
}
.picker .icon {
  position: absolute;
  margin-top: -1px;
  left: -17px;
  width: 34px;
  height: 34px;
  display: block;
  background-color: #011126;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #2f5973;
}
.picker .icon .yes {
  display: none;
}
.picker .icon svg {
  fill: #2f5973;
  position: absolute;
  top: 11px;
  left: 11px;
}
.picker:hover {
  background-color: #2f5973;
}
.picker:hover .text {
  color: #011126;
  padding-top: 10px;
  display: inline-block;
}
.picker:hover .icon {
  background-color: #2f5973;
  border: 2px solid #011126;
}
.picker:hover .icon .no {
  display: none;
}
.picker:hover .icon .yes {
  display: block;
}
.picker:hover .icon svg {
  left: 10px;
  fill: #011126;
}
.picker-dropdown {
  padding-right: 41px;
  min-width: 210px;
  position: relative;
}
.picker-dropdown .dropdown {
  opacity: 0;
  min-width: 227px;
  left: -15px;
  top: 24px;
  position: absolute;
  z-index: 105;
  border-radius: 10px;
}
.picker-dropdown .dropdown -webkit-transition all 0.6sease-in-out -moz-transition all 0.6sease-in-out -ms-transition all 0.6sease-in-out -o-transition all 0.6sease-in-out {
  transition: all 0.6s ease-in-out;
}
.picker-dropdown .dropdown:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 6px solid transparent;
  border-bottom-color: #a5bbc9;
  border-left-width: 6px;
  border-right-width: 6px;
  right: 17px;
  top: -11px;
}
.picker-dropdown .dropdown li:first-child a {
  border-radius: 10px 10px 0 0;
}
.picker-dropdown .dropdown li:last-child a {
  border-radius: 0 0 10px 10px;
}
.picker-dropdown .dropdown li a {
  background-color: #a5bbc9;
  display: inline-block;
  width: 100%;
  padding: 12px 14px;
  text-decoration: none;
  color: #2f5973;
  font-weight: 500;
  border-bottom: 1px solid #89a5b8;
}
.picker-dropdown .dropdown li a:hover {
  background-color: #98b0c0;
}
.picker-dropdown:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: -12px;
  top: 14px;
  right: 14px;
  border: 5px solid transparent;
  border-top-color: #2f5973;
  border-left-width: 5px;
  border-right-width: 5px;
}
.picker-dropdown-active .dropdown {
  opacity: 1;
  top: 34px;
  visibility: visible;
}
.textarea textarea {
  border-top: 1px solid #2f5973;
}
.wysiwyg-bar {
  margin-top: 28px;
  padding-bottom: 7px;
  float: right;
}
.wysiwyg-bar li {
  display: inline-block;
}
.wysiwyg-bar li a {
  position: relative;
  width: 36px;
  height: 26px;
  background-color: #011126;
  border: 1px solid #2e5872;
  display: inline-block;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
}
.wysiwyg-bar li a:hover {
  background-color: #2e5872;
}
.wysiwyg-bar li a:hover .icon svg {
  fill: #011126;
}
.wysiwyg-bar li a .icon {
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -8px;
}
.wysiwyg-bar li a .icon svg {
  width: 16px;
  height: 10px;
  fill: #2e5872;
}
.form-active .cover:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  right: -12px;
  bottom: 0;
  right: 84px;
  border: 8px solid transparent;
  border-bottom-color: #98b0c0;
  border-left-width: 8px;
  border-right-width: 8px;
}
.form-active .cover .cover-content .button .post {
  display: none;
}
.form-active .cover .cover-content .button .cancel {
  display: inline-block;
}
.form-active .form-container {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: 42px;
}
.attach-normal {
  margin-top: 28px;
  position: relative;
  cursor: pointer;
  padding-right: 93px;
}
.attach-normal .button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin-top: 5px;
  border: 1px solid #2e5872;
  font-family: 'brandon-grotesque', Arial, Sans-Serif;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 18px 5px 18px;
  border-radius: 28px;
  font-weight: 700;
  z-index: 100;
}
.attach-normal .button:hover {
  background-color: #2e5872;
}
.attach-normal .button:focus {
  outline: none;
}
.attach-normal label {
  cursor: pointer;
}
.attach-normal .icon {
  position: absolute;
  right: 95px;
  top: 10px;
}
.attach-normal .icon svg {
  fill: #2e5872;
}
.attach-normal input[type=file] {
  position: absolute;
  bottom: auto;
  right: 0;
  left: auto;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #f00;
  z-index: 20;
  opacity: 0;
  zoom: 1;
}
.wyswiyg-button-active background-color #2E5872 .icon svg {
  fill: #011126;
}
.picker-active {
  background-color: #2f5973;
}
.picker-active .text {
  color: #011126;
  padding-top: 10px;
  display: inline-block;
}
.picker-active .icon {
  background-color: #2f5973;
  border: 2px solid #011126;
}
.picker-active .icon .yes {
  display: none;
}
.picker-active .icon .no {
  display: block;
}
.picker-active .icon svg {
  fill: #011126;
}
/*---------------------------------------------------------
----------------------- RESPONSIVE ------------------------
---------------------------------------------------------*/
.side-activator {
  display: none;
}
/***************************************************************************************** 
*********************** MEDIA QUERIES 
*****************************************************************************************/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .hide {
    display: none;
  }
  .top-bar .main-logo {
    position: absolute;
    left: 50%;
    margin-left: -20px;
  }
  .top-bar .main-logo .type {
    display: none;
  }
  .top-bar .main-logo:hover {
    opacity: 0.9;
  }
  .top-bar .main-menu .user-menu li {
    display: none;
  }
  .top-bar .main-menu .user-menu li a {
    border-left: none;
  }
  .top-bar .main-menu .user-menu li a:after {
    border: none;
  }
  .top-bar .main-menu .user-menu .notif-holder {
    display: inline-block;
  }
  .top-bar .main-menu .user-menu .notif-holder .drop {
    right: 11px;
  }
  .top-bar .main-menu .user-menu .notif-holder li {
    display: list-item;
  }
  .top-bar .main-menu .user-menu .notif-holder .r-notif {
    height: 60px;
    padding: 0;
    width: 67px;
  }
  .sidebar-container {
    width: 0;
    visibility: hidden;
    left: -300px;
    opacity: 0;
    overflow: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .sidebar-container .side-bar {
    width: 59px;
  }
  .sidebar-container .side-bar .sidebar-menu li button {
    height: 59px;
  }
  .sidebar-container .side-bar .sidebar-menu li button .name {
    display: none;
  }
  .sidebar-container .menu-pull {
    width: 210px;
    left: none;
    visibility: visible;
    opacity: 1;
  }
  .sidebar-container-active {
    width: auto;
    visibility: visible;
    left: 0;
    opacity: 1;
  }
  .side-activator {
    display: block;
    height: 60px;
    display: inline-block;
  }
  .side-activator:hover {
    background-color: #001f37;
  }
  .side-activator .icon {
    display: inline-block;
    padding: 20px 20px;
  }
  .side-activator .icon:hover svg {
    fill: #f7f8f8;
  }
  .side-activator .icon svg {
    fill: #a5bbc9;
  }
}
