<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Campus Bubble</title>

	<!-- Devices Meta Spot -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--[if lt IE 9]>
		<script scr="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- Activating Typekit Fonts --> 
	<script type="text/javascript" src="//use.typekit.net/yiq3yhp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/icons/favicon.ico">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Javascripts -->
  {{{ js }}}
</head>

<body>
	
	<header>
		<div id="header_container" class="container"></div>
	</header>

	<div class="sidebar-container">
		<div id="sidebar_container" class="side-bar"></div>
	</div>

  <div id="main_region"></div>

</body>
</html>