<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Devices Meta Spot -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Stylesheets Spot -->
	<link rel="stylesheet" href="css/style.css">

	<!--[if lt IE 9]>
		<script scr="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- Activating Typekit Fonts --> 
	<script type="text/javascript" src="//use.typekit.net/yiq3yhp.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- Apple Icons Spot -->
	<link rel="shortcut icon" href="img/icons/favicon.ico">
	<link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" href="img/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" href="img/icons/apple-touch-icon-114x114.png">

  {{{ js }}}
</head>

<body>
	
	<header>
		<div id="header_container" class="container"></div>
	</header>

	<div class="sidebar-container">
		<div id="sidebar_container" class="side-bar"></div>
	</div>

  <div id="main_region"></div>

</body>
</html>