<template name="userlog">
  <div class="control-group">
    <label class="control-label" for="title">Search</label>
    <div class="controls">
      <input class="search-text" name="searchText" type="text" placeholder="Name"/>
    </div>
  </div>
  <hr>

  <form>
    <b>Start Date:</b><br>
    <input type="text" id="start-date" placeholder="YYYY-MM-DD" /><br>
    <b>End Date:</b><br>
    <input type="text" id="end-date" placeholder="YYYY-MM-DD" /><br>
    <button type="submit" value="submit" name="submit" class="std-btn-xdark csv-submit">Generate CSV</button>
  </form>

  <h4>Number of Users Logged In More Than Once</h4>
  Count: {{countUsersWithMultipleLogin}}
  <hr>

  <h4>Users Login Count</h4>
  {{#each getUsersWithMultipleLogin}}
    {{getUsername}}:{{getLoginCount}}
    <br />
  {{/each}}
  <hr>
  
  <h4>Overall UserLog</h4>
  {{#each getUserlogs}}
    <b>Username: {{getUsername}}</b>
    <p>
    {{#each groupByPage}}
      Page Name : {{getPageName}}
      <p>
      Page Count: {{getPageCount}}

    {{/each}}
    <hr>
  {{/each}}
</template>