doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/bubble-style.css')
  body
    block content
