extends layout

block content
  body
  .row
    form#loginform.form-horizontal(action='/testlogin', method='post', accept-charset='utf-8')
      .control-group
        .controls
          input#name(name='username', id='username', placeholder='Username or Email', type='text', value='')
      .control-group
        .controls
          input#password(name='password', id='password', placeholder='Password', type='password', value='')
      .form-actions
        button.btn.btn-large.btn-primary(type='submit') Login
