extends templates/top_bar_template

block top_bar_left
  div.big_comment_bubble_green
    div.big_comment_number #{post.comments.length}

block top_bar_main
  h4.post_name= post.name
  section.subtitle.descriptor
    div.gray_text.last_reply_text Last reply [# hours ago]

block connect_post
  button.button_connect_post.button_reply
