extends templates/top_bar_template

block top_bar_left
  block top_bar_left_start_time

block top_bar_main
  block top_bar_main_name

  section.subtitle.descriptor
    div.location_icon
    block top_bar_main_location

    div.attending_icon
    div.red_text.attending_text= post.attending_count
    div.comments_icon
    div.gray_text.comments_text #{post.comments.length}

block connect_post
  button.button_connect_post.button_im_going

block post_source
  include ../../post_source_user
