<template name="commentsList">
  <div class="comments-list">
    <div class="bubble-list comments-heading">
      <div class="bubble-list-heading">
        <h3 class="section-name pull-left">{{pluralize commentsCount "comment" ""}}</h3>
        <button class="visible-toggle-parent toggle-hide std-btn-light pull-right btn-add" data-toggle="collapse" data-target="#cb-form-container-comment">
          <span class="visible-toggle-child-start-show left-icon cb-icon-add">{{> icon-add}}</span>
          <span class="visible-toggle-child-start-hide left-icon">{{> icon-cancel}}</span>
          <span class="test visible-toggle-child-start-show">add new comment</span>
          <span class="visible-toggle-child-start-hide">cancel</span>
        </button>
      </div>
    </div>
    <ul id="comments" class="comments">
      {{> commentSubmit}}
      {{#each comments}}
        {{> commentItem}}
      {{else}}
        <div class="post-item">
          <div class="v-middle">
            <div class="v-inner">
              No comments yet. Be the first to comment!
            </div>
          </div>
        </div>
      {{/each}}
    </ul>
  </div>
</template>
