<template name="postItem">
  <div class="post">
    <div class="pull-left" style="width: 130px;">
      <h4 style="line-height: 16px; text-transform: uppercase;">{{postType}}</h4>
    </div>
    <div class="post-content">
      {{#if this.parent}}
        <h3><a href="{{postPagePath this.bubbleId this.parent}}">{{name}}</a></h3>
      {{else}}
        <h3><a href="{{postPagePath this.bubbleId this._id}}">{{name}}</a></h3>
      {{/if}}
      <p>
        <a href="{{postPagePath this}}">{{pluralize commentsCount "comment"}}</a>
      </p>
    </div>
    <div style="width: 100px;" class="pull-right">
      <p style="line-height: 10px;">Posted by</p>
      <h4><a href="{{userProfilePath userId}}">{{author}}</a></h4>
    </div>
  </div>
</template>
