<div class="title clearfix">
	<h3>my bubbles </h3>
	<a href="#">
		<span class="icon">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
			  <circle fill-rule="evenodd" clip-rule="evenodd" cx="8" cy="8" r="8"></circle>
		 	 <g>
		  	<rect x="7" y="4" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="2" height="8"></rect>
		  	<rect x="4" y="7" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="8" height="2"></rect>
		  </g>
		  </svg>
	</span>new</a>
</div>
<ul class="bubbles">
	<li><a href="#" class="type-student tab-active">Student Activity Bubble</a></li>
	<li><a href="#" class="type-greek">Greek Orgnaization Bubble</a></li>
	<li><a href="#" class="type-athletics">Athletics Bubble</a></li>
	<li><a href="#" class="type-art">Art Bubble</a></li>
	<li><a href="#" class="type-academic">Academic Bubble</a></li>
	<li><a href="#" class="type-faculty">Faculty Bubble</a></li>
	<li><a href="#" class="type-campus">Campus Bubble</a></li>
	<li><a href="#" class="type-class">Classes Bubble</a></li>
	<li><a href="#" class="type-residence">Residence Bubble</a></li>
	<li><a href="#" class="type-custom">Custom Bubble</a></li>
</ul>