<template name="bubbleSectionSelectorBackbone">
  <div class="bubble-section-selector category-{{category}}-border-top-4 category-{{category}}-bg-opacity-80">
    <div class="opacity-wrapper">
      <a href="/mybubbles/{{id}}/home">
        <button class="active-{{isSelected 'home'}} btn-bubble-section category-{{category}}-bg-opacity-90 category-{{category}}-hover-fill">
          <div class="cb-icon">{{> icon-home}}</div>
          <div class="category-{{category}}-color lbl">home</div>
        </button>
      </a>
      <a href="/mybubbles/{{id}}/event">
        <button class="active-{{isSelected 'event'}} btn-bubble-section category-{{category}}-bg-opacity-80 category-{{category}}-hover-fill">
          <div>{{> icon-event}}</div>
          <div class="category-{{category}}-color lbl">events</div>
        </button>
      </a>
      <a href="/mybubbles/{{id}}/discussion">
        <button class="active-{{isSelected 'discussion'}} btn-bubble-section category-{{category}}-bg-opacity-90 category-{{category}}-hover-fill">
          <div>{{> icon-discussion}}</div>
          <div class="category-{{category}}-color lbl">discussions</div>
        </button>
      </a>
      <a href="/mybubbles/{{id}}/file">
        <button class="active-{{isSelected 'file'}} btn-bubble-section category-{{category}}-bg-opacity-80 category-{{category}}-hover-fill">
          <div>{{> icon-file}}</div>
          <div class="category-{{category}}-color lbl">files</div>
        </button>
      </a>
      <a href="/mybubbles/{{id}}/members">
        <button class="active-{{isSelected 'members'}} btn-bubble-section category-{{category}}-bg-opacity-90 category-{{category}}-hover-fill">
          <div>{{> icon-member}}</div>
          <div class="category-{{category}}-color lbl">members</div>
        </button>
      </a>
    </div>
  </div>
</template>
