if (typeof errors !== 'undefined')
  .fade.in.alert.alert-block.alert-error
    a.close(data-dismiss="alert", href="javascript:void(0)") x
    ul
      each error in errors
        li= error.type

button.toggle_visible.create_an_event.red_button create a deal

form.toggle_invisible.add_event.form-horizontal(method="post", action="/bubbles/#{bubble._id}/create_event")
  section.input_group
    input#title.requiredInput.input-xlarge(type='text', maxlength="35", name="name", placeholder='Deal Name (ex: 15% Off Cheese Pizza)')
    textarea#description.requiredInput.input-xlarge(type='text', rows="5", name="description", placeholder='Explain the details of your deal')

  section.input_group
    input#location.requiredInput.input-xlarge(type='text', maxlength="35", name="location", placeholder='Where can we redeem it?')
    section.deal_slider_container
      div#slider
      input#discount.requiredInput(type='text', name='discount', readonly value='15% off')
    button#submitBtn.submit_event.red_button(type='submit') create
      p.warning.descriptor.red_text Please fill in every field before creating your deal
