extends ../layouts/default

block main
  - if (typeof(bubble.creator) != 'undefined' && bubble.creator.equals(req.user._id) )   // Shows form if current user created this bubble
    div(class=['page_content', 'page_#{bubble_section}s'])
      include ../includes/new_post
  ul#post_list.post_list.list_view
    each post in posts
      include ../includes/post_widget
  - if (bubble.num_events == 0 && bubble.num_deals == 0 && bubble.num_talks == 0 && !bubble.creator.equals(req.user._id) )
    pre This bubble does not yet have any events, deals, or talks.
