<template name="sidebar">
  <section class="sidebar">
    <div class="top-btns">
      <a href="#">
        <button class="top-btn left">O- search</button>
      </a>
      <a href="{{bubbleSubmitPath}}">
        <button class="top-btn right">
          <span class="cb-icon-light">{{> icon-bubble}}</span>
          <span>+</span>
          <span class="lbl">create</span>
        </button>
      </a>
    </div>
    <div class="main-btns">
      {{#each getSidebarBubbles}} 
        <a href="{{bubblePagePath this}}">
          <button class="main-btn">
            {{#if compressedCount}}
              <span class="badge badge-inverse">
                {{compressedCount}} 
              </span>
            {{/if}}
            {{title}}
          </button>
        </a>
      {{/each}}
    </div>
    {{#if hasInvitations}}
      <div class="row">
        <div class="span9"> 
          <span class="label label-success">
            YOU HAVE INVITATIONS 
          </span>
        </div>
        {{#each getInvitations}}
        <div class="span2">
          <a href="{{bubblePagePath this}}">
            {{title}}
          </a>
        </div>
        <div class="span1">
        <a class="btn btn-mini btn-alert pull-right accept-invitation">accept</a>
        <a class="btn btn-mini btn-alert pull-right reject-invitation">reject</a>
        </div>
        {{/each}}
      </div>
    {{/if}}

    </div>
  </section>
</template>
