<template name="sidebar">
  <div class="sidebar-new">
    <div class="navbar">
      <div class="navbar-inner"></div>
    </div>
    <div class="pane section">
      <a href="{{myBubblesLink}}">
        <button class="btn-nav active-{{selectedSection 'mybubbles'}}">
          <div class="inner">
            <div class="cb-icon">{{> icon-two-bubbles}}</div>
            <div class="lbl">my bubbles</div>
          </div>
        </button>
      </a>
      <a href="{{searchAllPath}}">
        <button class="btn-nav active-{{selectedSection 'search'}}">
          <div class="inner">
            <div class="cb-icon">{{> icon-search-thin}}</div>
            <div class="lbl">search</div>
          </div>
        </button>
      </a>
      <a href="{{userProfilePath Meteor.userId}}">
        <button class="btn-nav active-{{selectedSection 'settings'}}">
          <div class="inner">
            <div class="cb-icon-settings">{{> icon-settings-big}}</div>
            <div class="lbl">settings</div>
          </div>
        </button>
      </a>
    </div>
    <div class="pane subsection visible-{{subsectionPaneVisible}}">
      <div class="visible-{{selectedSection 'mybubbles'}}">
        <div class="heading">
          <div class="pull-left section-name">my bubbles</div>
          <div class="pull-right v-middle">
            <div class="v-inner">
              <a href="{{bubbleSubmitPath}}">
                <button class="btn-heading">
                  <span class="cb-icon-add">{{> icon-add}}</span>
                  <span>new</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        {{#each userBubbles}}
          <a href="{{bubblePagePath this}}">
            <button class="btn-nav category-{{category}}-border-right-3 active-{{selectedSubsection}}">
              {{#if compressedUpdatesCount this._id}}
                <div class="pull-left num-in-bubble updates-count">
                  <span class="cb-icon cb-icon-bubble">{{> icon-bubble}}</span>
                  <span class="num category-{{category}}-color">{{compressedUpdatesCount this._id}}</span>
                </div>
              {{/if}}
              <div class="pull-left lbl">{{title}}</div>
            </button>
          </a>
        {{/each}}
      </div>
      <div class="visible-{{selectedSection 'settings'}}">
        <div class="heading">
          <div class="pull-left section-name">
            <span class="cb-icon-settings">{{> icon-settings-big}}</span>
            <span class="lbl">settings</span>
          </div>
        </div>
        <a href="{{userProfilePath Meteor.userId}}">
          <button class="btn-nav category-{{category}}-border-right-3 active-{{selectedSubsectionName 'userprofile'}}">
            <span class="cb-icon cb-icon-other">{{> icon-user}}</span>
            <span class="lbl">Profile</span>
          </button>
        </a>
        <a href="{{invitationsPagePath}}">
          <button class="btn-nav category-{{category}}-border-right-3 active-{{selectedSubsectionName 'invites'}}">
            <span class="cb-icon cb-icon-other">{{> icon-invite}}</span>
            <span class="lbl">Invitations</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</template>
