<template name="sidebar">
  <section class="sidebar">
    <div class="top-btns">
      <a href="#">
        <button class="top-btn left">O- search</button>
      </a>
      <a href="{{bubbleSubmitPath}}">
        <button class="top-btn right">
          <span class="cb-icon-light">{{> icon-bubble}}</span>
          <span>+</span>
          <span class="lbl">create</span>
        </button>
      </a>
    </div>
    <div class="main-btns">
      {{#each getBubbles}} 
        <a href="{{bubblePagePath this}}">
          <button class="main-btn">
            {{#if compressedCount}}
              <span class="badge badge-inverse">
                {{compressedCount}} 
              </span>
            {{/if}}
            {{title}}
          </button>
        </a>
      {{/each}}
    </div>
      <div class="main-btns">
        INVITATIONS
      </div>
  </section>
</template>
