include widgets/button_dashboard

if (bubble.num_connections.num_posts.num_talks > 0)
  include widgets/button_talks

if (bubble.num_connections.num_posts.num_events > 0)
  include widgets/button_events
