<template name="bubbleMembersHeading">
  <div class="bubble-list member-heading">
    <div class="bubble-list-heading">
      <h3 class="section-name pull-left">
        <span class="section-icon-member">{{> icon-member}}</span>
        <span>Members</span>
      </h3>
      <button class="std-btn-light pull-right btn-add" data-toggle="collapse" data-target="#cb-form-add-members">
        <span class="left-icon cb-icon-add">{{> icon-add}}</span>
        <span>add new member</span>
      </button>
    </div>
  </div>
</template>
