<template name="bubbleMembersPage">
    {{#with getCurrentBubble}}
      {{> bubbleCover}}
      {{> bubbleSectionSelector}}
      <div class="bubble-page-content bubble-members">
        {{> bubbleMembersHeading}}
    	  {{> bubbleInvitation}}

        {{#unless isSuperBubble this}}
          {{> bubbleInviteesList}}
        {{/unless}}
        {{> bubbleAdminsList}}
        {{> bubbleMembersList}}
        {{#unless isSuperBubble this}}
          {{> bubbleApplicantsList}}
        {{/unless}}
      </div>
    {{/with}}
</template>