// Reusable elements
border-thin(color)
  border 1px solid color

border-box(n)
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

std-padding(n)
  padding 10px 30px

std-btn(n)
  padding 10px 15px
  height 30px

std-btn-light
  border-thin #BECDD5
  color #2E5972
  std-btn 0
  

// Reusable elements




button,
div
  border-box 0

.bubble-cover
  background #999 // TESTING
  padding 30px
  height 145px
