/* Added by Pat */

.container {
  position: relative;
  width: 100%;
  top: 60px;
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  }
  .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius:    0;
    -ms-border-radius:     0;
    -o-border-radius:      0;
    border-radius:         0;

    background: #001F37;
    border: 0;
  }
  .navbar .nav > li {
    border-right: 1px solid #224253;
    }
    .navbar .nav > li:first-child {
      border-left: 1px solid #224253;
    }
    .navbar .nav > li:last-child {
      border-right: 0;
      border-left:  0;
    }
    .navbar .nav > li > a {
      font-size: 12px;
      }
    .navbar .nav > li > a,
    .navbar .brand {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      padding-top: 20px;
      height: 60px;

      text-transform: uppercase;
      font-family: Arial;
      font-weight: bold;
      text-shadow: 0 0;
      color: #95AFBF;
      }
    .navbar .brand {
      font-size: 14px;
    }
  .navbar .nav > .active > a:hover,
  .navbar .nav > li > a:hover,
  .navbar .nav > .active > a {
    background: #011126;
    color: #95AFBF;
  }
  body, .grid-block, .main, .post:nth-child(even), .comments li, .comment-form {
    background: #F7F8F8;
  }
  .post:nth-child(odd), .comments li:nth-child(odd) {
    background: #EEF0F0;
  }

/* Added by Pat */















.grid-block, .main, .post, .comments li, .comment-form {
  padding: 10px; }

body {
  color: #666666; }

#spinner {
  height: 300px; }

.post {
  position: relative; }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }
