/***************         CSS Reset         ***************/
.gldp-flatwhite
  .dow
    cursor               default !important  // Overrides the datepicker framework's 'wait' cursor

button
  line-height            normal
  display                block
  background             none
  border                 0

a:visited,
a:hover,
a
  text-decoration        none

.row-fluid
  width                  auto

h1,
h2,
h3,
h4,
h5,
h6
  line-height            100%
  margin                 0

section,
button,
input,
div,
a
  border-box             0

.navbar
  .navbar-inner
    border-radius          0
    border                 0
    a
      text-shadow              0 0
    .nav
      & > li
        a
          text-shadow            0 0
/***************         CSS Reset         ***************/



/***************  Multi-Purpose Elements   ***************/
/**********  Color Palette  **********/
/*****    Standard White    *****/
std-white-light-color(n)
  color                  #F7F8F8
std-white-light-fill(n)
  fill                   #F7F8F8
std-white-light-bg(n)
  background             #F7F8F8

std-white-dark-color(n)
  color                  #EEF0F0
std-white-dark-fill(n)
  fill                   #EEF0F0
std-white-dark-bg(n)
  background             #EEF0F0
/*****    Standard White    *****/


/*****      Main Color      *****/
main-xdark-color(n)
  color                  #011126
main-xdark-fill(n)
  fill                   #011126
main-xdark-bg(n)
  background             #011126


main-dark-color(n)
  color                  #001f37
main-dark-fill(n)
  fill                   #001f37
main-dark-bg(n)
  background             #001f37


main-light-stroke(n)
  path
    stroke                   #2f5973
main-light-color(n)
  color                  #2f5973
main-light-fill(n)
  fill                   #2f5973
main-light-bg(n)
  background             #2f5973


main-xlight-border(n)
  border-thin            #95afbf
main-xlight-color(n)
  color                  #95afbf
main-xlight-fill(n)
  fill                   #95afbf
main-xlight-bg(n)
  background             #95afbf
/*****      Main Color      *****/


/*****  Category: Academics  *****/
category-academics-border(n)
  border-thin            #b0606d
category-academics-color(n)
  color                  #b0606d
category-academics-fill(n)
  fill                   #b0606d
category-academics-bg(n)
  background             #b0606d

.category-academics-bg-low-opacity 
  background             rgba(176,96,109,.15)
.category-academics-border-left-3
  border-left            3px solid #b0606d
.category-academics-border-top-4
  border-top             4px solid #b0606d
.category-academics-border
  border-thin            #b0606d
.category-academics-color
  color                  #b0606d
.category-academics-fill
  fill                   #b0606d
.category-academics-bg 
  background             #b0606d
/*****  Category: Academics  *****/


/*****  Category: Student Organization  *****/
category-student-organization-border(n)
  border-thin            #70c889
category-student-organization-color(n)
  color                  #70c889
category-student-organization-fill(n)
  fill                   #70c889
category-student-organization-bg(n)
  background             #70c889

.category-student-organization-bg-low-opacity 
  background             rgba(112,200,137,.15)
.category-student-organization-border-left-3
  border-left            3px solid #70c889
.category-student-organization-border-top-4
  border-top             4px solid #70c889
.category-student-organization-border
  border-thin            #70c889
.category-student-organization-color
  color                  #70c889
.category-student-organization-fill
  fill                   #70c889
.category-student-organization-bg 
  background             #70c889
/*****  Category: Student Organization  *****/

/**********  Color Palette  **********/


/**********  Font Palette   **********/
/*****    Main Font     *****/
font-main(n)
  font-family            'brandon-grotesque', Arial, Sans-Serif
font-main-black(n)
  font-weight            900
  font-main              0
font-main-bold(n)
  font-weight            700
  font-main              0
font-main-medium(n)
  font-weight            500
  font-main              0
font-main-regular(n)
  font-weight            400
  font-main              0

font-main-black-11-u(n)
  text-transform         uppercase
  font-size              11px
  font-main-black        0
/*****    Main Font     *****/

/*****  Alternate Font  *****/
font-alt(n)
  font-family            'proxima-nova', Arial, Sans-Serif
font-alt-black(n)
  font-weight            900
  font-alt               0
font-alt-extrabold(n)
  font-weight            800
  font-alt               0
font-alt-bold(n)
  font-weight            700
  font-alt               0
font-alt-semibold(n)
  font-weight            600
  font-alt               0
font-alt-regular(n)
  font-weight            400
  font-alt               0
font-alt-light(n)
  font-weight            300
  font-alt               0
/*****  Alternate Font  *****/
/**********  Font Palette   **********/


/**********   Properties    **********/
border-thin-top-btm(color)
  border-bottom          1px solid color
  border-top             1px solid color

border-thin(color)
  border                 1px solid color

border-box(n)
  -webkit-box-sizing     border-box
  -moz-box-sizing        border-box
  box-sizing             border-box

box-shadow(args...)
  -webkit-box-shadow     args
  -moz-box-shadow        args
  box-shadow             args

border-radius(n)
  -webkit-border-radius  n
  -moz-border-radius     n
  -ms-border-radius      n
  -o-border-radius       n
  border-radius          n
/**********   Properties    **********/


/**********     Helpers     **********/
/*****  Vertical Middle  *****/
.v-middle
  display                table
  height                 100%
  .v-inner
    display                table-cell
    vertical-align         middle
/*****  Vertical Middle  *****/
/**********     Helpers     **********/


/**********     Buttons     **********/
std-btn(n)
  text-transform         uppercase
  padding                8px 15px
  border-radius          15px
  font-size              11px
  main-xlight-border     0

.std-btn-light
  main-light-color       0
  font-main-bold         0
  std-btn                0

.std-btn-dark
  background             rgba(0,0,0,.35)
  main-xlight-color      0
  font-main-black        0
  std-btn                0
/**********     Buttons     **********/


/**********      Icons      **********/
svg
  vertical-align         top

.cb-icon-light-stroke
  main-light-stroke      0

.cb-icon-light-fill
  main-light-fill        0

.cb-icon-xlight
  main-xlight-fill       0
/**********      Icons      **********/


/**********     WYSIWYG     **********/
.wysiwyg_group
  .wysiwyg
    border               1px solid #ccc
    background           white
    min-height           300px
/**********     WYSIWYG     **********/


/**********   post-submit   **********/
.post-submit
  input
    height               30px
    width                100%
/**********   post-submit   **********/
/***************  Multi-Purpose Elements   ***************/



/***************  Single-Purpose Elements  ***************/
/**********      Base Divs       **********/
#main
  padding-left           240px

.comments li:nth-child(even),
.post:nth-child(even),
.comment-form,
.grid-block,
.main,
body
  std-white-light-bg     0

.comments li:nth-child(odd),
.post:nth-child(odd)
  std-white-dark-bg      0

.post
  padding                15px 30px
  height                 70px

.container
  position               relative
  width                  100%

.container,
.sidebar
  top                    60px
/**********      Base Divs       **********/

/**********        navbar        **********/
navbar-border-color  =  #224253
navbar-height        =  60px

.navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav > .active > a:hover,
  .navbar .nav > li > a:hover,
  .navbar .nav > .active > a
  main-light-color           0
  main-light-fill            0
  main-dark-bg               0


.navbar
  border-bottom          1px solid navbar-border-color
  text-transform         uppercase
  position               fixed
  width                  100%
  z-index                10
  .navbar-inner
    main-xdark-bg        0
    .brand
      line-height              navbar-height 
      height                   navbar-height
      padding                  0 0 0 15px
      font-size                14px
    .nav
      & > li
        border-right               1px solid navbar-border-color
        line-height                navbar-height 
        height                     navbar-height 
        font-size                  12px
        font-main-black            0
        &:first-child
          border-left                  1px solid navbar-border-color
        &:last-child
          border-right                 0
          border-left                  0
        a
          padding                      0 15px
          main-xlight-color            0
          main-xlight-fill             0
          &:hover
            main-light-color           0
            main-light-fill            0
            main-dark-bg               0
          svg
            vertical-align                 text-top
            position                       relative
            top                            4px
            
/**********        navbar        **********/

/**********        sidebar       **********/
.sidebar
  height                 5000px
  width                  240px
  position               fixed
  main-light-bg          0
  .top-btns
    border-thin-top-btm      #BBCCD7
    overflow                 hidden
    .top-btn
      height                     50px
      float                      left
      width                      50%
      font-main-black-11-u       0
      main-light-color           0
      main-xlight-bg             0
      &.left
        border-right                 1px solid #7C9CAF
      .lbl
        padding                      0 0 0 10px
        line-height                  20px
      &:hover
        text-decoration              underline
        background                   #B7C8D3
  .main-btns
    .main-btn
      box-shadow                 0 1px #386C8B
      padding                    0 0 0 15px
      position                   relative
      display                    block
      text-align                 left
      height                     50px
      font-size                  15px
      width                      100%
      z-index                    20
      std-white-light-color      0
      font-alt-light             0
      &:hover
        text-decoration              underline
        position                     relative
        background                   #274B61
        z-index                      10
/**********       sidebar        **********/

/**********        bubble-cover       **********/
.bubble-cover
  background             #333 // TESTING
  height                 145px
  padding                0 30px
  .bubble-name
    color                    white
    font-size                37px
    font-alt-light           0
  .bubble-subtitle
    text-transform           uppercase
    font-size                12px
    main-xlight-color        0
    font-main-bold           0
  .std-btn-dark
    margin                   5px 0
    float                    right
    clear                    right
    .lbl
      padding                    0 0 0 5px
/**********        bubble-cover       **********/

/**********  bubble-section-selector  **********/
.bubble-section-selector
  height                 100px
  std-white-light-fill   0
  .btn-bubble-section
    height                   100px
    width                    100px
    float                    left
  .btn-bubble-section:nth-child(1)
    std-white-light-bg       0
  .btn-bubble-section:nth-child(3)
    opacity                  .85
  .btn-bubble-section:nth-child(4)
    opacity                  .70
  .btn-bubble-section:nth-child(5)
    opacity                  .55
  .btn-bubble-section:nth-child(6)
    opacity                  .40
/**********  bubble-section-selector  **********/
/***************  Single-Purpose Elements  ***************/
