img.pic_top(src='../../../img/default.jpg')
div.pic_top_overlay
section.attributes
  form(method="post", action="/bubbles/#{bubble._id}/update")
    input.edit_bubble_name.requiredInput(type='text', maxlength='35', name='name', value=bubble.name)
    button.subscribe(type='submit', style='left: 10px; width: 60px;')
      div.descriptor.gray_text save
