input.input_hidden(type='text', name='current_url', value=current_url)
button.subscribe(type='submit')
  - if (user_subscribed == 1)
    div.heart.icon_subscribed
  - else
    div.heart.icon_unsubscribed
  div.descriptor.gray_text ###
