- if (user_subscribed == 1)
  form(method="post", action="/bubbles/#{bubble._id}/unsubscribe")
    include ../includes/subscribe_inner.jade
- else
  form(method="post", action="/bubbles/#{bubble._id}/subscribe")
    include ../includes/subscribe_inner.jade
