<template name="bubbleCover">
  <div class="bubble-cover">
    {{title}}
    {{#if isAdmin}}
      <a href="{{bubbleEditPath this}}">
        <button class="std-btn-dark pull-right">edit bubble</button>
      </a>
    {{/if}}

    {{#if hasJoinedBubble}}
      <a href="{{bubbleMembersPagePath this}}">
        <button class="btn btn-large btn-info pull-right">Members Page</button>
      </a>
    {{else}}
      {{#if hasApplied}}
        <button class="btn btn-large btn-success pull-right cancel-apply">Cancel Application</button>
      {{else}}
        <button class="btn btn-large btn-success pull-right join-apply">Join Bubble</button>
      {{/if}}
    {{/if}}
  </div>
</template>
