extends ../layouts/default

block main
  a(href='/bubbles/'+bubble._id)
    h4
      |back to 
      = bubble.name
  ul.post_list.single_post
    include ../includes/post_widget
  section.post_info
    section.left_bar
      section.section_top
        div.pic_post_container
          img.pic_post(src='http://graph.facebook.com/'+event.eid+'/picture?type=large')
      section.section_middle
        div.descriptor.gray_text venue
        h4= event.location
      section.section_bottom
    section.post_attributes
      section.post_description
        pre= event.description
        button.red_button.read_more read more
      div.divider
      section.students_going
        div.descriptor.red_text
          = event.attending_count 
          |  students
        h4.going going
      div.divider
