<template name="signUp">
	<div style="width:300px; margin: 0 auto;">
		<br /><br />
		<h4>Sign Up: </h4>
		<form>
			<b>Full Name: </b><br />
			<input type="text" id="full-name" placeholder="eg: George Burdell" /><br />
			<b>Email Address:* </b><br />
			<input type="text" id="email" placeholder="eg: GBURDE3" /><br />
			<b>Password: </b><br />
			<input type="password" id="pass1" /><br />
			<b>Retype Password: </b><br />
			<input type="password" id="pass2" /><br />
			<b>Type: </b><br />
			<input type="text" id="type" placeholder="Optional" /><br />
			<button type="submit" value="submit" name="submit" class="std-btn-xdark sign-up-submit">Sign Up</button><br />
			<span class="muted"><b>*an email will be sent to verify your identy</b></span>
		</form>
	</div>
</template>