extends templates/button_connect_bubble/button_connect_bubble_template

block if_admin_or_member
  connect_bubble_action  =  'remove'
  connect_bubble_phrase  =  'leave bubble'

block if_fan_or_none
  connect_bubble_action  =  'apply'
  connect_bubble_phrase  =  'apply to be a member'

block if_applicant
  connect_bubble_action  =  'reject'
  connect_bubble_phrase  =  'cancel application'
