extends templates/create/create_template

block button_text
  | start a discussion

block form
  input#title.requiredInput.input_talk_name(type='text', maxlength="35", name="name", placeholder="Discussion title (ex: Ideas for Dooley's Week)")

  textarea#description.requiredInput.input_talk_description(type='text', rows="5", name="description", placeholder='Start your discussion')

  input#privacy_private(type='radio', name='privacy', value='private', checked='checked')
  | private
  input#privacy_public(type='radio', name='privacy', value='public')
  | public

  button#submitBtn.submit_event.red_button(type='submit') create
    p.warning.descriptor.red_text Please fill in every field before creating your talk
