extends templates/create/create_template

block button_text
  | create an event

block form
  section.input_group
    input#title.requiredInput.input-xlarge(type='text', maxlength="35", name="name", placeholder='Event Name (ex: Spring Concert)')
    textarea#description.requiredInput.input-xlarge(type='text', rows="5", name="description", placeholder='Describe your event')
    input#privacy_private(type='radio', name='privacy', value='private', checked='checked')
    | private
    input#privacy_public(type='radio', name='privacy', value='public')
    | public

  section.input_group
    input#location.requiredInput.input-xlarge(type='text', maxlength="35", name="location", placeholder='Where is your event?')
    input#start_time.requiredInput.input-medium(type='text', name="start_time", readonly="readonly", placeholder='Start time?')
    input#end_time.requiredInput.input-medium(type='text', name="end_time", readonly="readonly", placeholder='End time?')
    button#submitBtn.submit_event.red_button(type='submit') create
      p.warning.descriptor.red_text Please fill in every field before creating your event
