extends ../layouts/default

block main
  div.page_content.subscriptions
    user_subscribed = 0
    section.subscription_section
      h4.subscription_section_name find bubbles
    div.divider
    section.list_heading_buttons_container
      div.subtitle.colorize_blue all bubbles
    section.subscription_section
      ul.subscription_list
        each bubble in bubbles
          bubble_connect_status = 'member'
          include ../widgets/bubble_widget
