extends ../layouts/default

block main
  div.page_content.subscriptions
    section.subscription_section
      user_subscribed = 0
      h4.subscription_section_name my bubbles
      div.subtitle.colorize_blue
        | member of #{req.user.connections.bubbles.member.length}
        if (req.user.connections.bubbles.admin.length > 0)
          |  | admin of #{req.user.connections.bubbles.admin.length}
        if (req.user.connections.bubbles.applicant.length + req.user.connections.bubbles.invitee.length > 0)
          |  | pending #{req.user.connections.bubbles.applicant.length + req.user.connections.bubbles.invitee.length}
    div.divider
    section.subscription_section
      ul.subscription_list
        each bubble in user.connections.bubbles.invitee
          include ../widgets/bubble_widget
          bubble_connect_status = 'invitee'
          include ../posts/widgets/button_connect_bubble_member
        each bubble in user.connections.bubbles.admin
          include ../widgets/bubble_widget
        each bubble in user.connections.bubbles.member
          include ../widgets/bubble_widget
        each bubble in user.connections.bubbles.applicant
          include ../widgets/bubble_widget
          bubble_connect_status = 'applicant'
          include ../posts/widgets/button_connect_bubble_member
