extends ../layouts/default

block main
  div.page_content.subscriptions
    section.subscription_section
      user_subscribed = 1
      h4.subscription_section_name subscribed
      div.divider
      ul.subscription_list
        each bubble in user.connections.bubbles.fan
          include ../widgets/bubble_widget
    section.subscription_section
      user_subscribed = 0
      h4.subscription_section_name not subscribed
      div.divider
      ul.subscription_list
        each bubble in unsubscribed
          include ../widgets/bubble_widget
