extends ../layouts/default

block content
  - var action = '/bubbles'
  if (!new_bubble.isNew)
    - action += '/'+new_bubble.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  form.form-horizontal(method="post", action=action)
    if (!new_bubble.isNew)
      input(type="hidden", name="_method", value="PUT")

    .control-group
      label.control-label bubble name
      .controls
        input.requiredInput.input-xlarge(type='text', maxlength="30", name="name", value=new_bubble.name, placeholder='ex: Club Soccer')

    .control-group
      label.control-label location
      .controls
        input.input-xlarge(type='text', maxlength="20", name="location", value=new_bubble.location, placeholder='ex: The Library')

    .control-group
      label.control-label type
      .controls
        select.requiredInput(name='bubble_type')
          option(value='student organization') student organization
          option(value='study group') study group
          option(value='greek life') greek life
          option(value='athletics') athletics
          option(value='class') class

    .form-actions
      button#submitBtn.red_button(type='submit') create
        p.warning.descriptor.red_text Please give your Bubble a name and description

  //include ../payment/form    // For stripe payment, when we're ready to implement them.
