<template name="searchAll">
  <div class="bubble-page-content bubble-page-content-search">
    {{> searchPage}}

  <div class="visible-false" style="margin-top: -6px">
      {{> gifLoaderToParent}}
  </div>

    {{#each getSearchedBubbles}}
      {{> listItem}}
    {{/each}}
    {{#each getSearchedUsers}}
      {{> listItem}}
    {{/each}}
    {{#each getSearchedEvents}}
      {{> listItem}}
    {{/each}}
    {{#each getSearchedDiscussions}}
      {{> listItem}}
    {{/each}}
    {{#each getSearchedFiles}}
      {{> listItem}}
    {{/each}}
  </div>
</template>
