<template name="searchAll">
  <div class="bubble-page-content bubble-page-content-search">
    {{> searchPage}}

  <div class="visible-{{isLoading}}" style="margin-top: -6px">
      {{> gifLoaderToParent}}
  </div>

    {{#each getSearchedBubbles}}
      {{> listItemBB}}
    {{/each}}
    {{#each getSearchedUsers}}
      {{> listItemUserBB}}
    {{/each}}
    {{#each getSearchedEvents}}
      {{#if exploreId}}
        {{> listItemExploreEventPostBB}}
      {{else}}
        {{> listItemEventPostBB}}
      {{/if}}
    {{/each}}
    {{#each getSearchedDiscussions}}
      {{#if exploreId}}
        {{> listItemDiscussionPostBB}}
      {{else}}
        {{> listItemDiscussionPostBB}}
      {{/if}}
    {{/each}}
    {{#each getSearchedFiles}}
      {{> listItemFilePostBB}}
    {{/each}}
  </div>
</template>
