<template name="exploreSubmit">
<head>
<style>
.thumb {
height: 75px;
border: 1px solid #000;
margin: 10px 5px 0 0;
}
</style>
</head>

  <form class="main">
    {{#if hasLevel4Permission}}
        <div class="control-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" type="text" value="" placeholder="Title of Explore Section"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="category">Icon</label>
            <div class="controls">
                {{> exploreIconSelector}}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
                <input name="description" type="text" value="" placeholder="Description of Explore Section"/>
            </div>
        </div>

        <div class="control-group">
            <div id="bubble_image">
                <div id="cover_dropzone" class="dropzone">Drop cover photo here.</div>
                <input name="filesToUpload[]" id="coverfilesToUpload" type="file">
                    <img id="coverphoto_upload" src="" />
                    <img id="coverphoto_preview" src="" />
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="category">Explore Type</label>
            <div class="controls">
                {{> exploreTypeSelector}}
            </div>
        </div>

        <hr>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
      </form>
      <img src="/img/Explore-Coverphoto.jpg" id="tempbubblecoverphoto" />
    {{/if}}

</template>
