<template name="loggedOut">
  <div class="bubble-page-content bubble-page-content-search">
    <div class="bubble-list member-heading">
      <div class="bubble-list-heading">
        <h3 class="section-name pull-left">
          <span>one more step</span>
        </h3>
      </div>
    </div>
    <div class="profile-content about-content">
      To complete your logout, please close your browser window. (A temporary bug in our system makes this step necessary. We promise to fix the bug soon.)
    </div>
  </div>
</template>
