<template name="postAttributes">
  <script language="JavaScript" src="js/pdfobject.js"></script>
  <script language="JavaScript" src="js/FileSaver.js"></script>

  <div class="post-main post-type-{{postType}}">
    <div class="visible-{{matchPostType 'event'}} event-controls">
      <div class="pull-left left"><img src="{{eventPhoto}}"/></div>
      <div class="pull-left right">
        <div class="attributes">
          <div class="small-heading attribute">
            <span class="cb-icon">{{> icon-time}}</span>
            <span class="lbl">{{dateTime}} | {{dateTime}}</span>
          </div>
          <div class="small-heading attribute">
            <span class="cb-icon">{{> icon-location}}</span>
            <span class="lbl">{{location}}</span>
          </div>
          <div class="small-heading attribute attribute-going">
            <span class="cb-icon cb-icon-member">{{> icon-member}}</span>
            <span class="lbl lbl-member">{{numOfAttendees}} people going</span>
          </div>
        </div>
        <div>{{> imGoing}}</div>
      </div>
    </div>

    <pre class="invisible-{{matchPostType 'file'}} post-body">{{{body}}}</pre>
    <span class="visible-{{hasChildren}}">{{> postAttachments}}</span>

    <div class="visible-{{matchPostType 'file'}}">
      <a href="{{file}}" download="{{decodeURI name}}">
        <div class="attachment">
          <div class="pull-left v-middle">
            <div class="v-inner">
              <div class="file-type file-type-attachment">
                <span class="cb-icon">{{> icon-file-type}}</span>
                <span class="lbl">{{getTextAfterSlash fileType}}</span>
              </div>
            </div>
          </div>
          <span class="attachment-name">{{decodeURI this.name}}</span>
          <button class="std-btn-xdark post-action">download</button>
        </div>
      </a>
    </div>
  </div>
</template>
