<template name='userprofileEdit'>
	{{#if hasPermission}}
		{{#with getProfile}}
			<h1>{{username}}</h1>
		    <form class="main">

			<img src="{{profilePicture}}" class="userprofilepicture" />
			<div class="control-group">
				<div class="controls">
				    <a href="#" class="btn btn-danger delete" id="change_profile_picture">Change</a>
				</div>
			</div>

		    <div class="control-group">
		        <div id="userprofile_image">
		            <div id="userprofilepicture_dropzone" class="dropzone">Drop user profile picture here.</div>
		                <img id="userprofilepicture_upload" src="" />
		                <img id="userprofilepicture_preview" src="" />
		        </div>
		    </div>
		    
		      <div class="control-group">
		          <div class="controls">
		              <input name="email" type="text" value="{{getEmail}}"/>
		          </div>
		      </div>
		      <hr />
		    
		      <div class="control-group">
		          <div class="controls">
		              <input type="submit" value="Submit" class="btn btn-primary"/>
		          </div>
		      </div>
		    </form>
		{{/with}}
	{{else}}
		<h1>You do not have permission to edit this profile.</h1>
	{{/if}}
</template>
