<template name='userprofileEdit'>
	{{#with getProfile}}
		<h1>{{username}}</h1>
	    <form class="main">
	    
	      <div class="control-group">
	          <div class="controls">
	              <input name="email" type="text" value="{{getEmail}}"/>
	          </div>
	      </div>
	      <hr />
	    
	      <div class="control-group">
	          <div class="controls">
	              <input type="submit" value="Submit" class="btn btn-primary"/>
	          </div>
	      </div>
	    </form>
	{{/with}}
</template>
