<template name='userProfileEdit'>
	{{#if hasPermission}}
		{{#with getProfile}}
			<h1>{{username}}</h1>
	    <form class="main">
		    <div class="control-group">
		        <div id="userprofile_image">
		            <img id="userprofilepicture_upload" src="" />
		            <img id="userprofilepicture_preview" src="{{profilePicture}}" />
		            <img id="userprofilepicture_retina" src="" />
		            <a href="#" class="btn btn-danger delete" id="change_profile_picture">Change</a>
		            <div id="userprofilepicture_dropzone" class="dropzone">Drop user profile picture here.</div>
		            <input name="filesToUpload[]" id="filesToUpload" type="file">
		            <input type="text" id="cropx">
		            <input type="text" id="cropy">
		        </div>
		    </div>
		    
	      <div class="control-group">
	          <div class="controls">
	              <input name="email" type="text" value="{{getEmail}}"/>
	          </div>
	      </div>
				{{#if hasPermission}}
		      <select name="userType">
	          <option {{checkUserType 'user'}} value="user">Normal User</option>
	          <option {{checkUserType 'superuser'}} value="superuser">Super User</option>
		    	</select>
		      <hr />
	     	{{/if}}
	    
	      <div class="control-group">
	          <div class="controls">
	              <input type="submit" value="Submit" class="btn btn-primary"/>
	          </div>
	      </div>
	    </form>
		{{/with}}
	{{else}}
		<h1>You do not have permission to edit this profile.</h1>
	{{/if}}
</template>
