<template name='userProfile'>
	<div class="bubble-page-content">
		{{#with getUser}}
			<div class="bubble-list member-heading">
		    	<div class="bubble-list-heading">
					<h3 class="section-name pull-left">
			        	<span class="section-icon-member">{{> icon-member}}</span>
			        	<span>Profile</span>
			        </h3>
				        <button class="std-btn-light pull-right btn-add" data-toggle="collapse" data-target="#cb-form-container-edit-profile">
				        	<span class="left-icon cb-icon-add">{{> icon-edit}}</span>
				        	<span>edit</span>
				      	</button>
				</div>
			</div>
			<canvas id="main-canvas" width="160" height="160" class="visible-0"></canvas>
			<canvas id="retina-canvas" width="320" height="320" class="visible-0"></canvas>
			<div class="collapse cb-form-container" id="cb-form-container-edit-profile">
			    <div class="top-arrow-container">
			    	<div class="top-arrow">{{> icon-arrow-up}}</div>
			    </div>
			    <form class="cb-form">
			      <div class="attach-files">
			        <div id="drop_zone" class="drop-zone">
			          <div class="dz-title">drag and drop</div>
			          <div class="dz-subtitle">or click here</div>
			          <ul class="nav nav-tabs small-boxes attachments-list" id="list"></ul>
			          <input class="file-chooser-invisible" name="filesToUpload[]" id="filesToUpload" type="file" multiple="">
			        </div>
			      	</div>
					<div class="crop-container" style="text-align: center;">
			      		<img class="crop"></img>
			      	</div>
			      	{{#if hasLevel4Permission}}
				      <select name="userType">
			          <option {{checkUserType '1'}} value="1">{{getUserTypeName 1}}</option>
			          <option {{checkUserType '2'}} value="2">{{getUserTypeName 2}}</option>
			          <option {{checkUserType '3'}} value="3">{{getUserTypeName 3}}</option>
				    	</select>
				      <hr />
			     	{{/if}}
			      <div class="cb-submit-container">
			        <button type="submit" class="pull-right std-btn-form cb-submit add-comment submit-comment">submit</button>
			      </div>
			    </form>
			</div>
		    <div class="profile-content bubble-cover">
				<img class="cover-pic" src="{{coverPhoto}}"/>
				<div class="v-middle pull-left">
					<div class="v-inner">
						<div class="profile-pic-container">
							<span class="profile-fill profile-pic-bg">{{> icon-bubble-big}}</span>
							<div class="pic-preview-wrapper-outer">
								<div class="pic-preview-wrapper-middle">
									<div class="pic-preview-wrapper-inner">
										<img src="{{profilePicture}}" class="profile-pic-preview">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="v-middle bubble-name-and-subtitle">
						<div class="v-inner">
							<h1 class="profile-name">{{username}}</h1>
							<h2 class="profile-subtitle">
								<span>{{pluralize numBubbles " bubble" ""}}</span>
								<span> | {{pluralize numPosts " post" ""}}</span>
							</h2>
		        		</div>
		    		</div>
				</div>
			</div>
			{{#if numAdmins}}
				<div class="bubble-list member-heading">
			    	<div class="bubble-list-heading">
						<h3 class="section-name pull-left">
						admin of {{pluralize numAdmins " bubble" ""}}
						</h3>
					</div>
				</div>
			    {{#each getBubblesAdminList}}
					{{> listItem}}
				{{/each}}
			{{/if}}
			{{#if numMembers}}
				<div class="profile-list-header bubble-list member-heading">
			    	<div class="bubble-list-heading">
						<h3 class="section-name pull-left">
							member of {{pluralize numMembers " bubble" ""}}
						</h3>
					</div>
				</div>
			    {{#each getBubblesMemberList}}
					{{> listItem}}
				{{/each}}
			{{/if}}
	    {{/with}}
	</div>
	<img id="testImage"></img>
</template>

