<template name='userProfile'>
	<div class="bubble-page-content">
		{{#with getUser}}
			<div class="bubble-list member-heading">
		    	<div class="bubble-list-heading">
					<h3 class="section-name pull-left">
			        	<span class="section-icon-member">{{> icon-member}}</span>
			        	<span>Profile</span>
			        </h3>
				        <button class="std-btn-light pull-right btn-add loadCropTool">
				        	<span class="left-icon cb-icon-add">{{> icon-edit}}</span>
				        	<span>edit</span>
				      	</button>
				      	<button class="removeCropTool std-btn-light pull-right btn-add" style="margin-right: 20px;">
				      		cancel
				      	</button>
				</div>
			</div>
			<div id="profile-editor" class="">
				<p style="text-align: center;">
					<img id="crop" src="http://odyniec.net/projects/imgareaselect/ferret.jpg"></img>
				</p>
			</div>
		    <div class="profile-content bubble-cover">
				<img class="cover-pic" src="{{coverPhoto}}"/>
				<div class="v-middle pull-left">
					<div class="v-inner">
						<div class="profile-pic-container">
							<span class="profile-fill profile-pic-bg">{{> icon-bubble-big}}</span>
							<div class="pic-preview-wrapper-outer">
								<div class="pic-preview-wrapper-middle">
									<div class="pic-preview-wrapper-inner">
										<img src="{{profilePicture}}" class="profile-pic-preview">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="v-middle bubble-name-and-subtitle">
						<div class="v-inner">
							<h1 class="profile-name">{{username}}</h1>
							<h2 class="profile-subtitle">
								<span>{{pluralize numBubbles " bubble" ""}}</span>
								<span> | {{pluralize numPosts " post" ""}}</span>
							</h2>
		        		</div>
		    		</div>
				</div>
			</div>
			{{#if numAdmins}}
				<div class="bubble-list member-heading">
			    	<div class="bubble-list-heading">
						<h3 class="section-name pull-left">
						admin of {{pluralize numAdmins " bubble" ""}}
						</h3>
					</div>
				</div>
			    {{#each getBubblesAdminList}}
					{{> listItem}}
				{{/each}}
			{{/if}}
			{{#if numMembers}}
				<div class="profile-list-header bubble-list member-heading">
			    	<div class="bubble-list-heading">
						<h3 class="section-name pull-left">
							member of {{pluralize numMembers " bubble" ""}}
						</h3>
					</div>
				</div>
			    {{#each getBubblesMemberList}}
					{{> listItem}}
				{{/each}}
			{{/if}}
	    {{/with}}
	</div>
</template>

