extends ../../../../../layouts/default

block main
    section(class=['page_#{bubble_section}s'])
      include ../../../../widgets/back_to_bubble

      block top_bar

      section.post_info
        block left_bar

        section.post_attributes
          block description

          block students_going

        block comments
