<template name="updateItem">
  <div class="post">
    <div style="width:70px" class="post-content">
      {{toUpperCase invokerName}}
    </div>
    <div style="width:200px" class="post-content">
      {{updateTypeIs}}
      <br />
      {{submittedText submitted}}
    </div>

    <div style="width:100px" class="post-content">
      <a href="{{postPagePath postId}}">
        {{#with getPost postId}} 
          {{name}}
        {{/with}}
      </a>
    </div>
    <div style="width: 100px;" class="pull-right">
      {{#with getPost postId}}  
        <p style="line-height: 10px;">Number of Comments</p>
      {{/with}}
      <div class="badgeCenter">
        <span class="badge badge-inverse">
          {{commentsCount}}
        </span>
      </div>
    </div>
  </div>
</template>

