<template name="header">
  <header class="navbar navbar-main">
    <div class="navbar-inner">
      <a href="/dashboard" class="cb-logo-main cb-logo-main-mobile">
        <span class="logo-main">{{> icon-logo-main}}</span>
        <span class="logo-words">
          <span class="left">emory</span><span class="right">bubble</span>
        </span>
      </a>
      <ul class="nav visible-all pull-right user-dropdown">
        <li class="dropdown">
          {{> logoutDropdown}}
        </li>
      </ul>
      <ul class="nav pull-right">
        {{#if currentUser}}
          <li class="{{activeRouteClass 'analytics'}} visible-{{checkUserType '3'}}">
            <a href="{{userlogPath}}" class="my-bubble">Analytics</a>
          </li>
          <li class="{{activeRouteClass 'flags'}} visible-{{checkUserType '3'}}">
            <a href="{{flagsListPath}}" class="my-bubble">Flag List</a>
          </li>
          <li>
            <a href="http://support.emorybubble.com" target="_blank" class="my-bubble">support</a>
          </li>
          <li class="dropdown cb-updates-dropdown">
            {{> updatesDropdown}}
          </li>
        {{/if}}
      </ul>
    </div>
  </header>
</template>
