<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a href="{{getMyBubblesUrlPath}}" class="brand">
        <span class="logo-main">{{> icon-logo-main}}</span>
        <span class="left">emory</span><span class="right">bubble</span>
      </a>
      
      
      <ul class="nav pull-right">
        {{#if currentUser}}
        <li class="{{activeRouteClass}}">
          <a href="{{getMyBubblesUrlPath}}" class="my-bubble">my bubbles</a>
        </li>
        <li class="dropdown">
          {{> updatesDropdown}}
        </li>
        {{/if}}
        <li>{{loginButtons}}</li>
      </ul>
    </div>
  </header>
</template>
