<template name="postPage">
  {{#with getCurrentBubble}}
  	{{> bubbleCover}}
    {{> bubbleSectionSelector}}
  {{/with}}
  {{#with currentPost}}
    {{> postItem}}
    {{#if flagged}}
  		<span class="label label-important">Post Is Flagged</span>
  	{{else}}
  		<button class='btn btn-small flag'>Flag here!</button>
  	{{/if}}
  	<a href="{{getPostEditUrl}}"><button class='btn btn-small'>Edit Post</button></a>
    {{> postAttributes}}    
    {{> commentsList}}

    {{#if isEvent}}
		  <h4>{{pluralize numOfAttendees "person"}}  going</h4>
			  </br>
			  {{#if notAttending}}
				  <button class="btn btn-small btn-success attending" type="button">I'M GOING</button>
				{{/if}}
				{{#if isAttending}}
					<button class="btn btn-small btn-success attending" type="button">I'M NOT GOING</button>
				{{/if}}
				{{#with attendees}}
					<br />
					{{this}}
				{{/with}}
		{{/if}}
  {{/with}}
</template>
