<template name="commentItem">
  <li class="comment-item">
    <div>
      <a href="{{userProfilePath this.userId}}">
        <div class="author-pic">
          <div class="bubble-bg">{{> icon-bubble}}</div>
          <img class="pic-circle author-circle" src="{{getSelectedUserProfilePic this.userId}}"/>
        </div>
      </a>
      <a href="{{userProfilePath userId}}">
        <span class="user-name">{{author}}</span>
      </a>
      <span class="small-heading comment-time">{{submittedText submitted}}</span>
    </div>
    <pre class="comment-body">{{body}}</pre>
    <button class="visible-{{allowDelete}} post-action delete-comment">
      <span>delete</span>
    </button>
  </li>
</template>
