<template name="bubbleSubmit">
  <div class="bubble-page-content bubble-page-content-search">
     
    <div class="bubble-list member-heading">
      <div class="bubble-list-heading">
        <h3 class="section-name pull-left">
          <span class="section-icon-bubble-create">{{> icon-bubble-create}}</span>
          <span>create a bubble</span>
        </h3>
      </div>
    </div>
    {{> formBubbleCreate}}

<!--  <div class="cb-form-container" id="cb-form-container-event">
    <form class="cb-form">
        <div class="cb-form-row">
          <div class="attach-files">
            <label class="dropzone-label" name="picture" type="label">Add profile photo?</label>
            <div id="drop_zone" class="drop-zone">
              <div class="dz-title">drag and drop</div>
              <div class="dz-subtitle">or click here</div>
              <ul class="nav nav-tabs small-boxes attachments-list" id="list"></ul>
              <input class="file-chooser-invisible" name="filesToUpload[]" id="profilefilesToUpload" type="file" multiple="">
            </div>
          </div>
        </div>


        <div class="cb-form-row last">
          <div class="attach-files">
            <label class="dropzone-label" name="picture" type="label">Add cover photo?</label>
            <div id="drop_zone" class="drop-zone">
              <div class="dz-title">drag and drop</div>
              <div class="dz-subtitle">or click here</div>
              <ul class="nav nav-tabs small-boxes attachments-list" id="list"></ul>
              <input class="file-chooser-invisible" name="filesToUpload[]" id="coverfilesToUpload" type="file" multiple="">
            </div>
          </div>
      </div>

    </form>
  </div>-->

  <img src="/img/Bubble-Profile.jpg" class="visible-0" id="profilePhoto" />
  <img src="/img/Bubble-Profile.jpg" class="visible-0" id="profileRetinaPhoto" />
  <img src="/img/Bubble-Coverphoto.jpg" class="visible-0" id="coverPhoto" />
  <img src="/img/Bubble-Coverphoto.jpg" class="visible-0" id="coverRetinaPhoto" />
</div>

</template>
