<template name="bubbleSubmit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Title of Bubble"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <input name="description" type="text" value="" placeholder="Description of Bubble"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="category">Category</label>
        <div class="controls">
            <select name="category">
              <option value='academics'>Academics</option>
              <option value='studentresource'>Student Resource</option>
              <option value='studentorganization'>Student Organization</option>
            </select>
        </div>
    </div>

    <hr>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
