extends ../layouts/default

block main
  h1 what are you creating?
  ul.post_list
    li
      a(href='/events/new')
        h4 event
    li
      a(href='/deals/new')
        h4 deal
    li
      a(href='/bubbles/new')
        h4 bubble
