<template name="bubbleEdit">
  {{#with getCurrentBubble}}
    <div class="bubble-page-content bubble-page-content-search">
      
      <div class="bubble-list member-heading">
        <div class="bubble-list-heading">
          <h3 class="section-name pull-left">
            <span class="section-icon-bubble-create">{{> icon-bubble-create}}</span>
            <span>edit {{title}}</span>
          </h3>
        </div>
      </div>
      {{#with systemForm.formParams.bubble.edit}}
        {{> generateForm}}
      {{/with}}
  
      <img src="/img/Bubble-Profile.jpg" class="visible-0" id="profilePhoto" />
      <img src="/img/Bubble-Profile.jpg" class="visible-0" id="profileRetinaPhoto" />
      <img src="/img/Bubble-Coverphoto.jpg" class="visible-0" id="coverPhoto" />
      <img src="/img/Bubble-Coverphoto.jpg" class="visible-0" id="coverRetinaPhoto" />
    </div>
  {{/with}}
</template>
