<template name="bubbleEdit">
  {{#with getCurrentBubble}}
    <form class="main">
      <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
              <input name="title" type="text" value="{{title}}" placeholder="Title of Bubble"/>
          </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
              <input name="description" type="text" value="{{description}}" placeholder="Description of Bubble"/>
          </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="category">Category</label>
        <div class="controls">
            <select name="category">
              {{#if isSelected 'academics'}}
                <option selected value='academics'>Academics</option>
              {{/if}}
              {{#if notSelected 'academics'}}
                <option value='academics'>Academics</option>
              {{/if}}
              {{#if isSelected 'studentresource'}}
                <option selected value='student resource'>Student Resource</option>
              {{/if}}
              {{#if notSelected 'studentresource'}}
                <option value='student resource'>Student Resource</option>
              {{/if}}
              {{#if isSelected 'studentorganization'}}
                <option selected value='student organization'>Student Organization</option>
              {{/if}}
              {{#if notSelected 'studentorganization'}}
                <option value='student organization'>Student Organization</option>
              {{/if}}
            </select>
        </div>
      </div>

      <hr>
      <div class="control-group">
          <div class="controls">
              <input type="submit" value="Submit" class="btn btn-primary submit"/>
          </div>
      </div>

      <hr/>
      <div class="control-group">
          <div class="controls">
              <a class="btn btn-danger delete" href="#">Delete Bubble</a>
          </div>
      </div>
    </form>
  {{/with}}
</template>
