<template name="exploreCover">
    <div class="explore-cover">
      <img class="cover-pic" src="{{coverPhoto}}"/>
      <div class="cover-mask"></div>

      <div class="v-middle pull-left">
        <div class="v-inner">
          <div class="profile-icon-container">
            <span class="cb-profile-icon">{{{getExploreIcon this}}}</span>
          </div>
        </div>
      </div>

      <div class="v-middle explore-name-and-subtitle">
        <div class="v-inner">
          <h1 class="explore-name">{{title}}</h1>
          <h2 class="explore-subtitle">{{description}}</h2>
        </div>
      </div>

      <div class="v-middle cover-btns">
        <div class="v-inner">
            <a href="{{bubbleEditPath this}}">
              <button class="std-btn-dark cover-btn">
                <span class="cb-icon-xlight cb-icon-settings">{{> icon-add}}</span>
                <span class="lbl">post</span>
              </button>
            </a>
        </div>
      </div>

    </div>
</template>
