<template name="exploreCover">
    <div class="bubble-cover">
      <img class="cover-pic" src="{{coverPhoto}}"/>
      <div class="cover-mask"></div>

      <div class="v-middle pull-left">
        <div class="v-inner">
          <div class="profile-pic-container">
            <span class="category-{{category}}-fill profile-pic-bg">{{> icon-bubble-big}}</span>
            <img src="{{profilePicture}}" class="profile-pic">
          </div>
        </div>
      </div>

      <div class="v-middle bubble-name-and-subtitle">
        <div class="v-inner">
          <h1 class="bubble-name">{{title}}</h1>
        </div>
      </div>

    </div>
</template>
