<template name="exploreCover">
    <div class="explore-cover">
      <img class="cover-pic" src="{{coverPhoto}}"/>
      <div class="cover-mask"></div>

      <div class="v-middle pull-left">
        <div class="v-inner">
          <div class="profile-icon-container">
            <span class="cb-profile-icon">{{{getExploreIcon this}}}</span>
          </div>
        </div>
      </div>

      <div class="v-middle explore-name-and-subtitle">
        <div class="v-inner">
          <h1 class="explore-name">{{title}}</h1>
          <h2 class="explore-subtitle">{{description}}</h2>
        </div>
      </div>

      <div class="v-middle cover-btns">
        <div class="v-inner">
            <a href="#">
              <button class="visible-toggle-parent toggle-hide std-btn-dark cover-btn explore-btn" data-toggle="collapse" data-target="#cb-form-container-{{exploreType}}">
                <span class="visible-toggle-child-start-show cb-icon-xlight cb-icon-add">{{> icon-add}}</span>
                <span class="visible-toggle-child-start-show lbl cb-lbl-add">post</span>
              <span class="visible-toggle-child-start-hide left-icon cb-icon-cancel">{{> icon-cancel}}</span>
              <span class="visible-toggle-child-start-hide cb-lbl-cancel">cancel</span>
              </button>
            </a>
        </div>
      </div>
    </div>

    {{#if isExploreType 'discussions'}}
      {{> exploreDiscussionSubmit}}
    {{else}}
      {{#if isExploreType 'events'}}
        {{> exploreEventSubmit}}
      {{/if}}
    {{/if}}

    </div>
</template>
