extends ../layouts/default

block main
  block list_authorized

  ul#post_list.post_list.list_view
  block list_unauthorized

  div.hidden#hidden_bubble_section= bubble_section
  div.hidden#hidden_bubble_id= bubble._id
