extends ../layouts/default

block main
  div.page_content.subscriptions
    section.subscription_section
      h4.subscription_section_name subscribed
      div.divider
      ul.subscription_list
        each bubble in subscribed
          include ../includes/bubble_widget
    section.subscription_section
      h4.subscription_section_name not subscribed
      div.divider
      ul.subscription_list
        each bubble in unsubscribed
          include ../includes/bubble_widget
