<template name="loginPage">
   <form class="login" style="width:220px; margin:0 auto" >
    <h1>Login<h1>
    <div class="control-group">
        <div class="controls">
            <input name="username" type="text" placeholder="Username or Email"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input name="password" type="password" placeholder="Password"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>
