<template name="loginPage">
   <form class="login" style="width:220px; margin:0 auto" >
    <h1>Login<h1>
    <div class="control-group">
        <div class="controls">
            <input name="username" type="text" placeholder="Username"/>
        </div>
    </div>

    <div class="control-group" style="display:{{isSignup}}">
        <div class="controls">
            <input name="email" type="text" placeholder="Email"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input name="password" type="password" placeholder="Password"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="{{getSubmitText}}" class="btn btn-primary"/>
            <button class="btn signup">{{getSignupText}}</button>
        </div>

    </div>
  </form>
  <img src="/img/User-Profile.jpg" id="tempprofile">
  <img src="" id="profilePicture">
  <img src="" id="retinaProfilePicture">
</template>
