<template name="logoutDropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {{getUsername}}
    {{> icon-arrow-down}}
  </a>
  <ul class="dropdown-menu dropdown-logout">
    <li class="view-profile">
      <div class="pull-left cb-icon-dropdown">{{> icon-user}}</div>
      <div class="pull-left lbl">profile</div>
    </li>  
    <li class="support">
      <div class="pull-left cb-icon-dropdown">{{> icon-support}}</div>
      <div class="pull-left lbl">support</div>
    </li>  
    <li class="signout">
      <div class="pull-left cb-icon-dropdown">{{> icon-member}}</div>
      <div class="pull-left lbl">sign out</div>
    </li>   
  </ul>
</template>
