<template name="searchPage">

	<div class="control-group">
    <label class="control-label" for="title">Search</label>
    <div class="controls">
      <input class="search-text" name="searchText" type="text" placeholder="Name, description, file names etc..."/>
    </div>
  </div>

	<ul class="nav nav-tabs">
	  <li class="{{isActive 'all'}} all"> <a href='{{searchAllPath}}' class="all">All</a></li>
    <li class="{{isActive 'bubbles'}} bubbles"> <a href='{{searchBubblesPath}}' class="bubbles">Bubbles</a></li>
    <li class="{{isActive 'users'}} users"> <a href='{{searchUsersPath}}' class="users">Users</a></li>
    <li class="{{isActive 'discussions'}} discussions"> <a href='{{searchDiscussionsPath}}' class="discussions">Discussions</a></li>
    <li class="{{isActive 'events'}} events"> <a href='{{searchEventsPath}}' class="events">Events</a></li>
    <li class="{{isActive 'files'}} files"> <a href='{{searchFilesPath}}' class="files">Files</a></li>
	</ul>

</template>